IngestionDataFactoryCentral/linkedTemplates/ArmTemplate_2.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "IngestionDataFactoryCentral"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/ParallelDataStaging_i2b2metadata')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ListofSourceTables",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT * FROM dbo.[tablesToStage] WHERE sourceDB = 'I2B2Metadata'"
							},
							"dataset": {
								"referenceName": "SourceTableList",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ParallelDataCopy",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "ListofSourceTables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('ListofSourceTables').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "LogExecutionStart",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[logExecutionStart]",
										"storedProcedureParameters": {
											"pipelineRunID": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"pipelineRunStartTime": {
												"value": {
													"value": "@pipeline().TriggerTime",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"stageTableID": {
												"value": {
													"value": "@item().stageTableID",
													"type": "Expression"
												},
												"type": "Int32"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "PilotAzureSqlDatabase",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Stage Data",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "LogExecutionStart",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "SqlServerSource",
											"sqlReaderQuery": {
												"value": "@item().srcQuery",
												"type": "Expression"
											}
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings"
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "PlaceholderI2b2MetadataTable",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "StagingData",
											"type": "DatasetReference",
											"parameters": {
												"TableName": {
													"value": "@{replace(item().schemaName, ' ','')}_@{replace(item().tableName, ' ','')}",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "SuccessSP",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Stage Data",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[logExecutionEnd]",
										"storedProcedureParameters": {
											"pipelineRunEndTime": {
												"value": {
													"value": "@{utcnow()}",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"pipelineRunID": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"pipelineRunStatus": {
												"value": "Success",
												"type": "String"
											},
											"stageTableID": {
												"value": {
													"value": "@{item().stageTableID}",
													"type": "Expression"
												},
												"type": "Int32"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "PilotAzureSqlDatabase",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Failure SP",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Stage Data",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[logExecutionEnd]",
										"storedProcedureParameters": {
											"pipelineRunEndTime": {
												"value": {
													"value": "@{utcnow()}",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"pipelineRunID": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"pipelineRunStatus": {
												"value": "Failure",
												"type": "String"
											},
											"stageTableID": {
												"value": {
													"value": "@{item().stageTableID}",
													"type": "Expression"
												},
												"type": "Int32"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "PilotAzureSqlDatabase",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/VitalsQuery')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Query to combine tables into the Vitals dataset\n",
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "StagedClinicalEvent",
								"type": "DatasetReference"
							},
							"name": "clinicalevent",
							"typeProperties": {}
						},
						{
							"dataset": {
								"referenceName": "StagedPrsnl",
								"type": "DatasetReference"
							},
							"name": "updatePrsnl",
							"typeProperties": {}
						},
						{
							"dataset": {
								"referenceName": "StagedPrsnl",
								"type": "DatasetReference"
							},
							"name": "verifiedPrsnl",
							"typeProperties": {}
						},
						{
							"dataset": {
								"referenceName": "StagedPrsnl",
								"type": "DatasetReference"
							},
							"name": "performingPrsnl",
							"typeProperties": {}
						},
						{
							"dataset": {
								"referenceName": "StagedCodeValue",
								"type": "DatasetReference"
							},
							"name": "eventClass",
							"typeProperties": {}
						},
						{
							"dataset": {
								"referenceName": "StagedCodeValue",
								"type": "DatasetReference"
							},
							"name": "eventClassDesc",
							"typeProperties": {}
						},
						{
							"dataset": {
								"referenceName": "StagedCodeValue",
								"type": "DatasetReference"
							},
							"name": "resultUnit",
							"typeProperties": {}
						},
						{
							"dataset": {
								"referenceName": "StagedCodeValue",
								"type": "DatasetReference"
							},
							"name": "resultTimeUnit",
							"typeProperties": {}
						},
						{
							"dataset": {
								"referenceName": "StagedCodeValue",
								"type": "DatasetReference"
							},
							"name": "resultStatus",
							"typeProperties": {}
						},
						{
							"dataset": {
								"referenceName": "StagedCodeValue",
								"type": "DatasetReference"
							},
							"name": "contributorSystem",
							"typeProperties": {}
						},
						{
							"dataset": {
								"referenceName": "StagedCodeValue",
								"type": "DatasetReference"
							},
							"name": "entryMode",
							"typeProperties": {}
						},
						{
							"dataset": {
								"referenceName": "StagedCodeValue",
								"type": "DatasetReference"
							},
							"name": "resultSource",
							"typeProperties": {}
						},
						{
							"dataset": {
								"referenceName": "StagedCodeValue",
								"type": "DatasetReference"
							},
							"name": "normalcy",
							"typeProperties": {}
						},
						{
							"dataset": {
								"referenceName": "StagedCodeValue",
								"type": "DatasetReference"
							},
							"name": "normalcyMethod",
							"typeProperties": {}
						},
						{
							"dataset": {
								"referenceName": "StagedCodeValue",
								"type": "DatasetReference"
							},
							"name": "eventRelationship",
							"typeProperties": {}
						},
						{
							"dataset": {
								"referenceName": "StagedCodeValue",
								"type": "DatasetReference"
							},
							"name": "recordStatus",
							"typeProperties": {}
						},
						{
							"dataset": {
								"referenceName": "StagedCodeValue",
								"type": "DatasetReference"
							},
							"name": "resourceGroup",
							"typeProperties": {}
						},
						{
							"dataset": {
								"referenceName": "StagedCodeValue",
								"type": "DatasetReference"
							},
							"name": "resource",
							"typeProperties": {}
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "VitalsSinkParquet",
								"type": "DatasetReference"
							},
							"name": "VitalsSink"
						}
					],
					"transformations": [
						{
							"name": "cePrsnlUpdatePersonnel"
						},
						{
							"name": "cePrsnlPerformingPersonnel"
						},
						{
							"name": "ceEventCode"
						},
						{
							"name": "eventClassFilter"
						},
						{
							"name": "eventClassDescFilter"
						},
						{
							"name": "SelectEventClassDesc"
						},
						{
							"name": "ceEventClassDesc"
						},
						{
							"name": "MainSelect"
						},
						{
							"name": "SelectEventClass"
						},
						{
							"name": "SelectVerifiedPrsnl"
						},
						{
							"name": "SelectUpdatePrsnl"
						},
						{
							"name": "SelectPerformingPrsnl"
						},
						{
							"name": "cePrsnlVerifiedPersonnel"
						},
						{
							"name": "resultUnitFilter"
						},
						{
							"name": "SelectResultUnit"
						},
						{
							"name": "ceResultUnit"
						},
						{
							"name": "resultTimeUnitFilter"
						},
						{
							"name": "SelectResultTimeUnit"
						},
						{
							"name": "ceResultTimeUnit"
						},
						{
							"name": "resultStatusFilter"
						},
						{
							"name": "SelectResultStatus"
						},
						{
							"name": "ceResultStatus"
						},
						{
							"name": "contributorSystemFilter"
						},
						{
							"name": "SelectContributorSystem"
						},
						{
							"name": "ceContributorSystem"
						},
						{
							"name": "entryModeFilter"
						},
						{
							"name": "SelectEntryMode"
						},
						{
							"name": "ceEntryMode"
						},
						{
							"name": "resultSourceFilter"
						},
						{
							"name": "SelectResultSource"
						},
						{
							"name": "ceResultSource"
						},
						{
							"name": "normalcyFilter"
						},
						{
							"name": "SelectNormalcy"
						},
						{
							"name": "ceNormalcy"
						},
						{
							"name": "normalcyMethodFilter"
						},
						{
							"name": "SelectNormalcyMethod"
						},
						{
							"name": "ceNormalcyMethod"
						},
						{
							"name": "eventRelationshipFilter"
						},
						{
							"name": "SelectEventRelationship"
						},
						{
							"name": "ceEventRelationship"
						},
						{
							"name": "recordStatusFilter"
						},
						{
							"name": "SelectRecordStatus"
						},
						{
							"name": "ceRecordStatus"
						},
						{
							"name": "resourceGroupFilter"
						},
						{
							"name": "SelectResourceGroup"
						},
						{
							"name": "ceResourceGroup"
						},
						{
							"name": "resourceFilter"
						},
						{
							"name": "SelectResource"
						},
						{
							"name": "ceResource"
						}
					],
					"script": "\n\nsource(output(\n\t\tCLINICAL_EVENT_ID as double,\n\t\tENCNTR_ID as double,\n\t\tPERSON_ID as double,\n\t\tUTC_TMP2_4 as timestamp,\n\t\tENCNTR_FINANCIAL_ID as double,\n\t\tEVENT_ID as double,\n\t\tUTC_TMP2_7 as timestamp,\n\t\tEVENT_TITLE_TEXT as string,\n\t\tVIEW_LEVEL as double,\n\t\tORDER_ID as double,\n\t\tCATALOG_CD as double,\n\t\tSERIES_REF_NBR as string,\n\t\tACCESSION_NBR as string,\n\t\tCONTRIBUTOR_SYSTEM_CD as double,\n\t\tREFERENCE_NBR as string,\n\t\tPARENT_EVENT_ID as double,\n\t\tEVENT_RELTN_CD as double,\n\t\tUTC_TMP2_18 as timestamp,\n\t\tEVENT_CLASS_CD as double,\n\t\tEVENT_CD as double,\n\t\tEVENT_TAG as string,\n\t\tUTC_TMP2_22 as timestamp,\n\t\tEVENT_END_DT_TM_OS as double,\n\t\tRESULT_VAL as string,\n\t\tRESULT_UNITS_CD as double,\n\t\tRESULT_TIME_UNITS_CD as double,\n\t\tTASK_ASSAY_CD as double,\n\t\tRECORD_STATUS_CD as double,\n\t\tRESULT_STATUS_CD as double,\n\t\tAUTHENTIC_FLAG as double,\n\t\tPUBLISH_FLAG as double,\n\t\tQC_REVIEW_CD as double,\n\t\tNORMALCY_CD as double,\n\t\tNORMALCY_METHOD_CD as double,\n\t\tINQUIRE_SECURITY_CD as double,\n\t\tRESOURCE_GROUP_CD as double,\n\t\tRESOURCE_CD as double,\n\t\tSUBTABLE_BIT_MAP as double,\n\t\tCOLLATING_SEQ as string,\n\t\tUTC_TMP2_40 as timestamp,\n\t\tVERIFIED_PRSNL_ID as double,\n\t\tUTC_TMP2_42 as timestamp,\n\t\tPERFORMED_PRSNL_ID as double,\n\t\tUTC_TMP2_44 as timestamp,\n\t\tUPDT_ID as double,\n\t\tUPDT_TASK as double,\n\t\tUPDT_CNT as double,\n\t\tUPDT_APPLCTX as double,\n\t\tNORMAL_LOW as string,\n\t\tNORMAL_HIGH as string,\n\t\tCRITICAL_LOW as string,\n\t\tCRITICAL_HIGH as string,\n\t\tUTC_TMP2_53 as timestamp,\n\t\tEVENT_TAG_SET_FLAG as double,\n\t\tNOTE_IMPORTANCE_BIT_MAP as double,\n\t\tUTC_TMP2_56 as timestamp,\n\t\tORDER_ACTION_SEQUENCE as double,\n\t\tENTRY_MODE_CD as double,\n\t\tSOURCE_CD as double,\n\t\tCLINICAL_SEQ as string,\n\t\tEVENT_END_TZ as double,\n\t\tEVENT_START_TZ as double,\n\t\tPERFORMED_TZ as double,\n\t\tVERIFIED_TZ as double,\n\t\tTASK_ASSAY_VERSION_NBR as double,\n\t\tMODIFIER_LONG_TEXT_ID as double,\n\t\tSRC_EVENT_ID as double,\n\t\tUTC_TMP2_68 as timestamp,\n\t\tCE_DYNAMIC_LABEL_ID as double,\n\t\tNOMEN_STRING_FLAG as double,\n\t\tLAST_UTC_TS as timestamp,\n\t\tDEVICE_FREE_TXT as string,\n\t\tTRAIT_BIT_MAP as double,\n\t\tTXN_ID_TEXT as string,\n\t\tCLU_SUBKEY1_FLAG as double,\n\t\tVALID_UNTIL_DT_TM as timestamp,\n\t\tVERIFIED_DT_TM as timestamp,\n\t\tVALID_FROM_DT_TM as timestamp,\n\t\tUPDT_DT_TM as timestamp,\n\t\tSRC_CLINSIG_UPDT_DT_TM as timestamp,\n\t\tPERFORMED_DT_TM as timestamp,\n\t\tEXPIRATION_DT_TM as timestamp,\n\t\tEVENT_START_DT_TM as timestamp,\n\t\tEVENT_END_DT_TM as timestamp,\n\t\tCLINSIG_UPDT_DT_TM as timestamp,\n\t\tINST_ID as double\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinferDriftedColumnTypes: true) ~> clinicalevent\nsource(output(\n\t\tPERSON_ID as double,\n\t\tUPDT_CNT as double,\n\t\tUTC_TMP2_3 as timestamp,\n\t\tUPDT_ID as double,\n\t\tUPDT_TASK as double,\n\t\tUPDT_APPLCTX as double,\n\t\tACTIVE_IND as double,\n\t\tACTIVE_STATUS_CD as double,\n\t\tUTC_TMP2_9 as timestamp,\n\t\tACTIVE_STATUS_PRSNL_ID as double,\n\t\tCREATE_PRSNL_ID as double,\n\t\tUTC_TMP2_12 as timestamp,\n\t\tNAME_LAST_KEY as string,\n\t\tNAME_FIRST_KEY as string,\n\t\tPRSNL_TYPE_CD as double,\n\t\tNAME_FULL_FORMATTED as string,\n\t\tPASSWORD as string,\n\t\tEMAIL as string,\n\t\tPHYSICIAN_IND as double,\n\t\tPOSITION_CD as double,\n\t\tDEPARTMENT_CD as double,\n\t\tFREE_TEXT_IND as double,\n\t\tUTC_TMP2_23 as timestamp,\n\t\tUTC_TMP2_24 as timestamp,\n\t\tSECTION_CD as double,\n\t\tDATA_STATUS_CD as double,\n\t\tUTC_TMP2_27 as timestamp,\n\t\tDATA_STATUS_PRSNL_ID as double,\n\t\tCONTRIBUTOR_SYSTEM_CD as double,\n\t\tNAME_LAST as string,\n\t\tNAME_FIRST as string,\n\t\tUSERNAME as string,\n\t\tFT_ENTITY_NAME as string,\n\t\tFT_ENTITY_ID as double,\n\t\tPRIM_ASSIGN_LOC_CD as double,\n\t\tLOG_ACCESS_IND as double,\n\t\tLOG_LEVEL as double,\n\t\tNAME_FIRST_KEY_NLS as string,\n\t\tNAME_LAST_KEY_NLS as string,\n\t\tPHYSICIAN_STATUS_CD as double,\n\t\tLOGICAL_DOMAIN_ID as double,\n\t\tLOGICAL_DOMAIN_GRP_ID as double,\n\t\tNAME_FIRST_KEY_A_NLS as string,\n\t\tNAME_LAST_KEY_A_NLS as string,\n\t\tLAST_UTC_TS as timestamp,\n\t\tEXTERNAL_IND as double,\n\t\tTXN_ID_TEXT as string,\n\t\tACTIVE_STATUS_DT_TM as timestamp,\n\t\tBEG_EFFECTIVE_DT_TM as timestamp,\n\t\tCREATE_DT_TM as timestamp,\n\t\tDATA_STATUS_DT_TM as timestamp,\n\t\tUPDT_DT_TM as timestamp,\n\t\tEND_EFFECTIVE_DT_TM as timestamp,\n\t\tINST_ID as double\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false,\n\tinferDriftedColumnTypes: true) ~> updatePrsnl\nsource(output(\n\t\tPERSON_ID as double,\n\t\tUPDT_CNT as double,\n\t\tUTC_TMP2_3 as timestamp,\n\t\tUPDT_ID as double,\n\t\tUPDT_TASK as double,\n\t\tUPDT_APPLCTX as double,\n\t\tACTIVE_IND as double,\n\t\tACTIVE_STATUS_CD as double,\n\t\tUTC_TMP2_9 as timestamp,\n\t\tACTIVE_STATUS_PRSNL_ID as double,\n\t\tCREATE_PRSNL_ID as double,\n\t\tUTC_TMP2_12 as timestamp,\n\t\tNAME_LAST_KEY as string,\n\t\tNAME_FIRST_KEY as string,\n\t\tPRSNL_TYPE_CD as double,\n\t\tNAME_FULL_FORMATTED as string,\n\t\tPASSWORD as string,\n\t\tEMAIL as string,\n\t\tPHYSICIAN_IND as double,\n\t\tPOSITION_CD as double,\n\t\tDEPARTMENT_CD as double,\n\t\tFREE_TEXT_IND as double,\n\t\tUTC_TMP2_23 as timestamp,\n\t\tUTC_TMP2_24 as timestamp,\n\t\tSECTION_CD as double,\n\t\tDATA_STATUS_CD as double,\n\t\tUTC_TMP2_27 as timestamp,\n\t\tDATA_STATUS_PRSNL_ID as double,\n\t\tCONTRIBUTOR_SYSTEM_CD as double,\n\t\tNAME_LAST as string,\n\t\tNAME_FIRST as string,\n\t\tUSERNAME as string,\n\t\tFT_ENTITY_NAME as string,\n\t\tFT_ENTITY_ID as double,\n\t\tPRIM_ASSIGN_LOC_CD as double,\n\t\tLOG_ACCESS_IND as double,\n\t\tLOG_LEVEL as double,\n\t\tNAME_FIRST_KEY_NLS as string,\n\t\tNAME_LAST_KEY_NLS as string,\n\t\tPHYSICIAN_STATUS_CD as double,\n\t\tLOGICAL_DOMAIN_ID as double,\n\t\tLOGICAL_DOMAIN_GRP_ID as double,\n\t\tNAME_FIRST_KEY_A_NLS as string,\n\t\tNAME_LAST_KEY_A_NLS as string,\n\t\tLAST_UTC_TS as timestamp,\n\t\tEXTERNAL_IND as double,\n\t\tTXN_ID_TEXT as string,\n\t\tACTIVE_STATUS_DT_TM as timestamp,\n\t\tBEG_EFFECTIVE_DT_TM as timestamp,\n\t\tCREATE_DT_TM as timestamp,\n\t\tDATA_STATUS_DT_TM as timestamp,\n\t\tUPDT_DT_TM as timestamp,\n\t\tEND_EFFECTIVE_DT_TM as timestamp,\n\t\tINST_ID as double\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> verifiedPrsnl\nsource(output(\n\t\tPERSON_ID as double,\n\t\tUPDT_CNT as double,\n\t\tUTC_TMP2_3 as timestamp,\n\t\tUPDT_ID as double,\n\t\tUPDT_TASK as double,\n\t\tUPDT_APPLCTX as double,\n\t\tACTIVE_IND as double,\n\t\tACTIVE_STATUS_CD as double,\n\t\tUTC_TMP2_9 as timestamp,\n\t\tACTIVE_STATUS_PRSNL_ID as double,\n\t\tCREATE_PRSNL_ID as double,\n\t\tUTC_TMP2_12 as timestamp,\n\t\tNAME_LAST_KEY as string,\n\t\tNAME_FIRST_KEY as string,\n\t\tPRSNL_TYPE_CD as double,\n\t\tNAME_FULL_FORMATTED as string,\n\t\tPASSWORD as string,\n\t\tEMAIL as string,\n\t\tPHYSICIAN_IND as double,\n\t\tPOSITION_CD as double,\n\t\tDEPARTMENT_CD as double,\n\t\tFREE_TEXT_IND as double,\n\t\tUTC_TMP2_23 as timestamp,\n\t\tUTC_TMP2_24 as timestamp,\n\t\tSECTION_CD as double,\n\t\tDATA_STATUS_CD as double,\n\t\tUTC_TMP2_27 as timestamp,\n\t\tDATA_STATUS_PRSNL_ID as double,\n\t\tCONTRIBUTOR_SYSTEM_CD as double,\n\t\tNAME_LAST as string,\n\t\tNAME_FIRST as string,\n\t\tUSERNAME as string,\n\t\tFT_ENTITY_NAME as string,\n\t\tFT_ENTITY_ID as double,\n\t\tPRIM_ASSIGN_LOC_CD as double,\n\t\tLOG_ACCESS_IND as double,\n\t\tLOG_LEVEL as double,\n\t\tNAME_FIRST_KEY_NLS as string,\n\t\tNAME_LAST_KEY_NLS as string,\n\t\tPHYSICIAN_STATUS_CD as double,\n\t\tLOGICAL_DOMAIN_ID as double,\n\t\tLOGICAL_DOMAIN_GRP_ID as double,\n\t\tNAME_FIRST_KEY_A_NLS as string,\n\t\tNAME_LAST_KEY_A_NLS as string,\n\t\tLAST_UTC_TS as timestamp,\n\t\tEXTERNAL_IND as double,\n\t\tTXN_ID_TEXT as string,\n\t\tACTIVE_STATUS_DT_TM as timestamp,\n\t\tBEG_EFFECTIVE_DT_TM as timestamp,\n\t\tCREATE_DT_TM as timestamp,\n\t\tDATA_STATUS_DT_TM as timestamp,\n\t\tUPDT_DT_TM as timestamp,\n\t\tEND_EFFECTIVE_DT_TM as timestamp,\n\t\tINST_ID as double\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> performingPrsnl\nsource(output(\n\t\tCODE_VALUE as long,\n\t\tCODE_SET as integer,\n\t\tCDF_MEANING as string,\n\t\tDISPLAY as string,\n\t\tDISPLAY_KEY as string,\n\t\tDESCRIPTION as string,\n\t\tDEFINITION as string,\n\t\tCOLLATION_SEQ as integer,\n\t\tACTIVE_TYPE_CD as long,\n\t\tACTIVE_IND as boolean,\n\t\tUPDT_ID as integer,\n\t\tUPDT_CNT as integer,\n\t\tUPDT_TASK as integer,\n\t\tUPDT_APPLCTX as long,\n\t\tDATA_STATUS_CD as long,\n\t\tDATA_STATUS_PRSNL_ID as integer,\n\t\tACTIVE_STATUS_PRSNL_ID as integer,\n\t\tCKI as string,\n\t\tDISPLAY_KEY_NLS as string,\n\t\tCONCEPT_CKI as string,\n\t\tDISPLAY_KEY_A_NLS as string,\n\t\tLAST_UTC_TS as timestamp,\n\t\tTXN_ID_TEXT as string,\n\t\tCLU_SUBKEY1_FLAG as boolean,\n\t\tACTIVE_DT_TM as timestamp,\n\t\tBEGIN_EFFECTIVE_DT_TM as timestamp,\n\t\tDATA_STATUS_DT_TM as timestamp,\n\t\tUPDT_DT_TM as timestamp,\n\t\tINACTIVE_DT_TM as timestamp,\n\t\tEND_EFFECTIVE_DT_TM as timestamp,\n\t\tINST_ID as integer,\n\t\tDW_Refresh_DT_TM as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> eventClass\nsource(output(\n\t\tCODE_VALUE as long,\n\t\tCODE_SET as integer,\n\t\tCDF_MEANING as string,\n\t\tDISPLAY as string,\n\t\tDISPLAY_KEY as string,\n\t\tDESCRIPTION as string,\n\t\tDEFINITION as string,\n\t\tCOLLATION_SEQ as integer,\n\t\tACTIVE_TYPE_CD as long,\n\t\tACTIVE_IND as boolean,\n\t\tUPDT_ID as integer,\n\t\tUPDT_CNT as integer,\n\t\tUPDT_TASK as integer,\n\t\tUPDT_APPLCTX as long,\n\t\tDATA_STATUS_CD as long,\n\t\tDATA_STATUS_PRSNL_ID as integer,\n\t\tACTIVE_STATUS_PRSNL_ID as integer,\n\t\tCKI as string,\n\t\tDISPLAY_KEY_NLS as string,\n\t\tCONCEPT_CKI as string,\n\t\tDISPLAY_KEY_A_NLS as string,\n\t\tLAST_UTC_TS as timestamp,\n\t\tTXN_ID_TEXT as string,\n\t\tCLU_SUBKEY1_FLAG as boolean,\n\t\tACTIVE_DT_TM as timestamp,\n\t\tBEGIN_EFFECTIVE_DT_TM as timestamp,\n\t\tDATA_STATUS_DT_TM as timestamp,\n\t\tUPDT_DT_TM as timestamp,\n\t\tINACTIVE_DT_TM as timestamp,\n\t\tEND_EFFECTIVE_DT_TM as timestamp,\n\t\tINST_ID as integer,\n\t\tDW_Refresh_DT_TM as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> eventClassDesc\nsource(output(\n\t\tCODE_VALUE as long,\n\t\tCODE_SET as integer,\n\t\tCDF_MEANING as string,\n\t\tDISPLAY as string,\n\t\tDISPLAY_KEY as string,\n\t\tDESCRIPTION as string,\n\t\tDEFINITION as string,\n\t\tCOLLATION_SEQ as integer,\n\t\tACTIVE_TYPE_CD as long,\n\t\tACTIVE_IND as boolean,\n\t\tUPDT_ID as integer,\n\t\tUPDT_CNT as integer,\n\t\tUPDT_TASK as integer,\n\t\tUPDT_APPLCTX as long,\n\t\tDATA_STATUS_CD as long,\n\t\tDATA_STATUS_PRSNL_ID as integer,\n\t\tACTIVE_STATUS_PRSNL_ID as integer,\n\t\tCKI as string,\n\t\tDISPLAY_KEY_NLS as string,\n\t\tCONCEPT_CKI as string,\n\t\tDISPLAY_KEY_A_NLS as string,\n\t\tLAST_UTC_TS as timestamp,\n\t\tTXN_ID_TEXT as string,\n\t\tCLU_SUBKEY1_FLAG as boolean,\n\t\tACTIVE_DT_TM as timestamp,\n\t\tBEGIN_EFFECTIVE_DT_TM as timestamp,\n\t\tDATA_STATUS_DT_TM as timestamp,\n\t\tUPDT_DT_TM as timestamp,\n\t\tINACTIVE_DT_TM as timestamp,\n\t\tEND_EFFECTIVE_DT_TM as timestamp,\n\t\tINST_ID as integer,\n\t\tDW_Refresh_DT_TM as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> resultUnit\nsource(output(\n\t\tCODE_VALUE as long,\n\t\tCODE_SET as integer,\n\t\tCDF_MEANING as string,\n\t\tDISPLAY as string,\n\t\tDISPLAY_KEY as string,\n\t\tDESCRIPTION as string,\n\t\tDEFINITION as string,\n\t\tCOLLATION_SEQ as integer,\n\t\tACTIVE_TYPE_CD as long,\n\t\tACTIVE_IND as boolean,\n\t\tUPDT_ID as integer,\n\t\tUPDT_CNT as integer,\n\t\tUPDT_TASK as integer,\n\t\tUPDT_APPLCTX as long,\n\t\tDATA_STATUS_CD as long,\n\t\tDATA_STATUS_PRSNL_ID as integer,\n\t\tACTIVE_STATUS_PRSNL_ID as integer,\n\t\tCKI as string,\n\t\tDISPLAY_KEY_NLS as string,\n\t\tCONCEPT_CKI as string,\n\t\tDISPLAY_KEY_A_NLS as string,\n\t\tLAST_UTC_TS as timestamp,\n\t\tTXN_ID_TEXT as string,\n\t\tCLU_SUBKEY1_FLAG as boolean,\n\t\tACTIVE_DT_TM as timestamp,\n\t\tBEGIN_EFFECTIVE_DT_TM as timestamp,\n\t\tDATA_STATUS_DT_TM as timestamp,\n\t\tUPDT_DT_TM as timestamp,\n\t\tINACTIVE_DT_TM as timestamp,\n\t\tEND_EFFECTIVE_DT_TM as timestamp,\n\t\tINST_ID as integer,\n\t\tDW_Refresh_DT_TM as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> resultTimeUnit\nsource(output(\n\t\tCODE_VALUE as long,\n\t\tCODE_SET as integer,\n\t\tCDF_MEANING as string,\n\t\tDISPLAY as string,\n\t\tDISPLAY_KEY as string,\n\t\tDESCRIPTION as string,\n\t\tDEFINITION as string,\n\t\tCOLLATION_SEQ as integer,\n\t\tACTIVE_TYPE_CD as long,\n\t\tACTIVE_IND as boolean,\n\t\tUPDT_ID as integer,\n\t\tUPDT_CNT as integer,\n\t\tUPDT_TASK as integer,\n\t\tUPDT_APPLCTX as long,\n\t\tDATA_STATUS_CD as long,\n\t\tDATA_STATUS_PRSNL_ID as integer,\n\t\tACTIVE_STATUS_PRSNL_ID as integer,\n\t\tCKI as string,\n\t\tDISPLAY_KEY_NLS as string,\n\t\tCONCEPT_CKI as string,\n\t\tDISPLAY_KEY_A_NLS as string,\n\t\tLAST_UTC_TS as timestamp,\n\t\tTXN_ID_TEXT as string,\n\t\tCLU_SUBKEY1_FLAG as boolean,\n\t\tACTIVE_DT_TM as timestamp,\n\t\tBEGIN_EFFECTIVE_DT_TM as timestamp,\n\t\tDATA_STATUS_DT_TM as timestamp,\n\t\tUPDT_DT_TM as timestamp,\n\t\tINACTIVE_DT_TM as timestamp,\n\t\tEND_EFFECTIVE_DT_TM as timestamp,\n\t\tINST_ID as integer,\n\t\tDW_Refresh_DT_TM as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> resultStatus\nsource(output(\n\t\tCODE_VALUE as long,\n\t\tCODE_SET as integer,\n\t\tCDF_MEANING as string,\n\t\tDISPLAY as string,\n\t\tDISPLAY_KEY as string,\n\t\tDESCRIPTION as string,\n\t\tDEFINITION as string,\n\t\tCOLLATION_SEQ as integer,\n\t\tACTIVE_TYPE_CD as long,\n\t\tACTIVE_IND as boolean,\n\t\tUPDT_ID as integer,\n\t\tUPDT_CNT as integer,\n\t\tUPDT_TASK as integer,\n\t\tUPDT_APPLCTX as long,\n\t\tDATA_STATUS_CD as long,\n\t\tDATA_STATUS_PRSNL_ID as integer,\n\t\tACTIVE_STATUS_PRSNL_ID as integer,\n\t\tCKI as string,\n\t\tDISPLAY_KEY_NLS as string,\n\t\tCONCEPT_CKI as string,\n\t\tDISPLAY_KEY_A_NLS as string,\n\t\tLAST_UTC_TS as timestamp,\n\t\tTXN_ID_TEXT as string,\n\t\tCLU_SUBKEY1_FLAG as boolean,\n\t\tACTIVE_DT_TM as timestamp,\n\t\tBEGIN_EFFECTIVE_DT_TM as timestamp,\n\t\tDATA_STATUS_DT_TM as timestamp,\n\t\tUPDT_DT_TM as timestamp,\n\t\tINACTIVE_DT_TM as timestamp,\n\t\tEND_EFFECTIVE_DT_TM as timestamp,\n\t\tINST_ID as integer,\n\t\tDW_Refresh_DT_TM as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> contributorSystem\nsource(output(\n\t\tCODE_VALUE as long,\n\t\tCODE_SET as integer,\n\t\tCDF_MEANING as string,\n\t\tDISPLAY as string,\n\t\tDISPLAY_KEY as string,\n\t\tDESCRIPTION as string,\n\t\tDEFINITION as string,\n\t\tCOLLATION_SEQ as integer,\n\t\tACTIVE_TYPE_CD as long,\n\t\tACTIVE_IND as boolean,\n\t\tUPDT_ID as integer,\n\t\tUPDT_CNT as integer,\n\t\tUPDT_TASK as integer,\n\t\tUPDT_APPLCTX as long,\n\t\tDATA_STATUS_CD as long,\n\t\tDATA_STATUS_PRSNL_ID as integer,\n\t\tACTIVE_STATUS_PRSNL_ID as integer,\n\t\tCKI as string,\n\t\tDISPLAY_KEY_NLS as string,\n\t\tCONCEPT_CKI as string,\n\t\tDISPLAY_KEY_A_NLS as string,\n\t\tLAST_UTC_TS as timestamp,\n\t\tTXN_ID_TEXT as string,\n\t\tCLU_SUBKEY1_FLAG as boolean,\n\t\tACTIVE_DT_TM as timestamp,\n\t\tBEGIN_EFFECTIVE_DT_TM as timestamp,\n\t\tDATA_STATUS_DT_TM as timestamp,\n\t\tUPDT_DT_TM as timestamp,\n\t\tINACTIVE_DT_TM as timestamp,\n\t\tEND_EFFECTIVE_DT_TM as timestamp,\n\t\tINST_ID as integer,\n\t\tDW_Refresh_DT_TM as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> entryMode\nsource(output(\n\t\tCODE_VALUE as long,\n\t\tCODE_SET as integer,\n\t\tCDF_MEANING as string,\n\t\tDISPLAY as string,\n\t\tDISPLAY_KEY as string,\n\t\tDESCRIPTION as string,\n\t\tDEFINITION as string,\n\t\tCOLLATION_SEQ as integer,\n\t\tACTIVE_TYPE_CD as long,\n\t\tACTIVE_IND as boolean,\n\t\tUPDT_ID as integer,\n\t\tUPDT_CNT as integer,\n\t\tUPDT_TASK as integer,\n\t\tUPDT_APPLCTX as long,\n\t\tDATA_STATUS_CD as long,\n\t\tDATA_STATUS_PRSNL_ID as integer,\n\t\tACTIVE_STATUS_PRSNL_ID as integer,\n\t\tCKI as string,\n\t\tDISPLAY_KEY_NLS as string,\n\t\tCONCEPT_CKI as string,\n\t\tDISPLAY_KEY_A_NLS as string,\n\t\tLAST_UTC_TS as timestamp,\n\t\tTXN_ID_TEXT as string,\n\t\tCLU_SUBKEY1_FLAG as boolean,\n\t\tACTIVE_DT_TM as timestamp,\n\t\tBEGIN_EFFECTIVE_DT_TM as timestamp,\n\t\tDATA_STATUS_DT_TM as timestamp,\n\t\tUPDT_DT_TM as timestamp,\n\t\tINACTIVE_DT_TM as timestamp,\n\t\tEND_EFFECTIVE_DT_TM as timestamp,\n\t\tINST_ID as integer,\n\t\tDW_Refresh_DT_TM as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> resultSource\nsource(output(\n\t\tCODE_VALUE as long,\n\t\tCODE_SET as integer,\n\t\tCDF_MEANING as string,\n\t\tDISPLAY as string,\n\t\tDISPLAY_KEY as string,\n\t\tDESCRIPTION as string,\n\t\tDEFINITION as string,\n\t\tCOLLATION_SEQ as integer,\n\t\tACTIVE_TYPE_CD as long,\n\t\tACTIVE_IND as boolean,\n\t\tUPDT_ID as integer,\n\t\tUPDT_CNT as integer,\n\t\tUPDT_TASK as integer,\n\t\tUPDT_APPLCTX as long,\n\t\tDATA_STATUS_CD as long,\n\t\tDATA_STATUS_PRSNL_ID as integer,\n\t\tACTIVE_STATUS_PRSNL_ID as integer,\n\t\tCKI as string,\n\t\tDISPLAY_KEY_NLS as string,\n\t\tCONCEPT_CKI as string,\n\t\tDISPLAY_KEY_A_NLS as string,\n\t\tLAST_UTC_TS as timestamp,\n\t\tTXN_ID_TEXT as string,\n\t\tCLU_SUBKEY1_FLAG as boolean,\n\t\tACTIVE_DT_TM as timestamp,\n\t\tBEGIN_EFFECTIVE_DT_TM as timestamp,\n\t\tDATA_STATUS_DT_TM as timestamp,\n\t\tUPDT_DT_TM as timestamp,\n\t\tINACTIVE_DT_TM as timestamp,\n\t\tEND_EFFECTIVE_DT_TM as timestamp,\n\t\tINST_ID as integer,\n\t\tDW_Refresh_DT_TM as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> normalcy\nsource(output(\n\t\tCODE_VALUE as long,\n\t\tCODE_SET as integer,\n\t\tCDF_MEANING as string,\n\t\tDISPLAY as string,\n\t\tDISPLAY_KEY as string,\n\t\tDESCRIPTION as string,\n\t\tDEFINITION as string,\n\t\tCOLLATION_SEQ as integer,\n\t\tACTIVE_TYPE_CD as long,\n\t\tACTIVE_IND as boolean,\n\t\tUPDT_ID as integer,\n\t\tUPDT_CNT as integer,\n\t\tUPDT_TASK as integer,\n\t\tUPDT_APPLCTX as long,\n\t\tDATA_STATUS_CD as long,\n\t\tDATA_STATUS_PRSNL_ID as integer,\n\t\tACTIVE_STATUS_PRSNL_ID as integer,\n\t\tCKI as string,\n\t\tDISPLAY_KEY_NLS as string,\n\t\tCONCEPT_CKI as string,\n\t\tDISPLAY_KEY_A_NLS as string,\n\t\tLAST_UTC_TS as timestamp,\n\t\tTXN_ID_TEXT as string,\n\t\tCLU_SUBKEY1_FLAG as boolean,\n\t\tACTIVE_DT_TM as timestamp,\n\t\tBEGIN_EFFECTIVE_DT_TM as timestamp,\n\t\tDATA_STATUS_DT_TM as timestamp,\n\t\tUPDT_DT_TM as timestamp,\n\t\tINACTIVE_DT_TM as timestamp,\n\t\tEND_EFFECTIVE_DT_TM as timestamp,\n\t\tINST_ID as integer,\n\t\tDW_Refresh_DT_TM as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> normalcyMethod\nsource(output(\n\t\tCODE_VALUE as long,\n\t\tCODE_SET as integer,\n\t\tCDF_MEANING as string,\n\t\tDISPLAY as string,\n\t\tDISPLAY_KEY as string,\n\t\tDESCRIPTION as string,\n\t\tDEFINITION as string,\n\t\tCOLLATION_SEQ as integer,\n\t\tACTIVE_TYPE_CD as long,\n\t\tACTIVE_IND as boolean,\n\t\tUPDT_ID as integer,\n\t\tUPDT_CNT as integer,\n\t\tUPDT_TASK as integer,\n\t\tUPDT_APPLCTX as long,\n\t\tDATA_STATUS_CD as long,\n\t\tDATA_STATUS_PRSNL_ID as integer,\n\t\tACTIVE_STATUS_PRSNL_ID as integer,\n\t\tCKI as string,\n\t\tDISPLAY_KEY_NLS as string,\n\t\tCONCEPT_CKI as string,\n\t\tDISPLAY_KEY_A_NLS as string,\n\t\tLAST_UTC_TS as timestamp,\n\t\tTXN_ID_TEXT as string,\n\t\tCLU_SUBKEY1_FLAG as boolean,\n\t\tACTIVE_DT_TM as timestamp,\n\t\tBEGIN_EFFECTIVE_DT_TM as timestamp,\n\t\tDATA_STATUS_DT_TM as timestamp,\n\t\tUPDT_DT_TM as timestamp,\n\t\tINACTIVE_DT_TM as timestamp,\n\t\tEND_EFFECTIVE_DT_TM as timestamp,\n\t\tINST_ID as integer,\n\t\tDW_Refresh_DT_TM as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> eventRelationship\nsource(output(\n\t\tCODE_VALUE as long,\n\t\tCODE_SET as integer,\n\t\tCDF_MEANING as string,\n\t\tDISPLAY as string,\n\t\tDISPLAY_KEY as string,\n\t\tDESCRIPTION as string,\n\t\tDEFINITION as string,\n\t\tCOLLATION_SEQ as integer,\n\t\tACTIVE_TYPE_CD as long,\n\t\tACTIVE_IND as boolean,\n\t\tUPDT_ID as integer,\n\t\tUPDT_CNT as integer,\n\t\tUPDT_TASK as integer,\n\t\tUPDT_APPLCTX as long,\n\t\tDATA_STATUS_CD as long,\n\t\tDATA_STATUS_PRSNL_ID as integer,\n\t\tACTIVE_STATUS_PRSNL_ID as integer,\n\t\tCKI as string,\n\t\tDISPLAY_KEY_NLS as string,\n\t\tCONCEPT_CKI as string,\n\t\tDISPLAY_KEY_A_NLS as string,\n\t\tLAST_UTC_TS as timestamp,\n\t\tTXN_ID_TEXT as string,\n\t\tCLU_SUBKEY1_FLAG as boolean,\n\t\tACTIVE_DT_TM as timestamp,\n\t\tBEGIN_EFFECTIVE_DT_TM as timestamp,\n\t\tDATA_STATUS_DT_TM as timestamp,\n\t\tUPDT_DT_TM as timestamp,\n\t\tINACTIVE_DT_TM as timestamp,\n\t\tEND_EFFECTIVE_DT_TM as timestamp,\n\t\tINST_ID as integer,\n\t\tDW_Refresh_DT_TM as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> recordStatus\nsource(output(\n\t\tCODE_VALUE as long,\n\t\tCODE_SET as integer,\n\t\tCDF_MEANING as string,\n\t\tDISPLAY as string,\n\t\tDISPLAY_KEY as string,\n\t\tDESCRIPTION as string,\n\t\tDEFINITION as string,\n\t\tCOLLATION_SEQ as integer,\n\t\tACTIVE_TYPE_CD as long,\n\t\tACTIVE_IND as boolean,\n\t\tUPDT_ID as integer,\n\t\tUPDT_CNT as integer,\n\t\tUPDT_TASK as integer,\n\t\tUPDT_APPLCTX as long,\n\t\tDATA_STATUS_CD as long,\n\t\tDATA_STATUS_PRSNL_ID as integer,\n\t\tACTIVE_STATUS_PRSNL_ID as integer,\n\t\tCKI as string,\n\t\tDISPLAY_KEY_NLS as string,\n\t\tCONCEPT_CKI as string,\n\t\tDISPLAY_KEY_A_NLS as string,\n\t\tLAST_UTC_TS as timestamp,\n\t\tTXN_ID_TEXT as string,\n\t\tCLU_SUBKEY1_FLAG as boolean,\n\t\tACTIVE_DT_TM as timestamp,\n\t\tBEGIN_EFFECTIVE_DT_TM as timestamp,\n\t\tDATA_STATUS_DT_TM as timestamp,\n\t\tUPDT_DT_TM as timestamp,\n\t\tINACTIVE_DT_TM as timestamp,\n\t\tEND_EFFECTIVE_DT_TM as timestamp,\n\t\tINST_ID as integer,\n\t\tDW_Refresh_DT_TM as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> resourceGroup\nsource(output(\n\t\tCODE_VALUE as long,\n\t\tCODE_SET as integer,\n\t\tCDF_MEANING as string,\n\t\tDISPLAY as string,\n\t\tDISPLAY_KEY as string,\n\t\tDESCRIPTION as string,\n\t\tDEFINITION as string,\n\t\tCOLLATION_SEQ as integer,\n\t\tACTIVE_TYPE_CD as long,\n\t\tACTIVE_IND as boolean,\n\t\tUPDT_ID as integer,\n\t\tUPDT_CNT as integer,\n\t\tUPDT_TASK as integer,\n\t\tUPDT_APPLCTX as long,\n\t\tDATA_STATUS_CD as long,\n\t\tDATA_STATUS_PRSNL_ID as integer,\n\t\tACTIVE_STATUS_PRSNL_ID as integer,\n\t\tCKI as string,\n\t\tDISPLAY_KEY_NLS as string,\n\t\tCONCEPT_CKI as string,\n\t\tDISPLAY_KEY_A_NLS as string,\n\t\tLAST_UTC_TS as timestamp,\n\t\tTXN_ID_TEXT as string,\n\t\tCLU_SUBKEY1_FLAG as boolean,\n\t\tACTIVE_DT_TM as timestamp,\n\t\tBEGIN_EFFECTIVE_DT_TM as timestamp,\n\t\tDATA_STATUS_DT_TM as timestamp,\n\t\tUPDT_DT_TM as timestamp,\n\t\tINACTIVE_DT_TM as timestamp,\n\t\tEND_EFFECTIVE_DT_TM as timestamp,\n\t\tINST_ID as integer,\n\t\tDW_Refresh_DT_TM as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> resource\nclinicalevent, SelectUpdatePrsnl join(PERSON_ID == UPDATE_PERSON_ID,\n\tjoinType:'inner',\n\tbroadcast: 'none')~> cePrsnlUpdatePersonnel\ncePrsnlUpdatePersonnel, SelectPerformingPrsnl join(PERFORMED_PRSNL_ID == PERFORMING_PERSON_ID,\n\tjoinType:'inner',\n\tbroadcast: 'none')~> cePrsnlPerformingPersonnel\ncePrsnlVerifiedPersonnel, SelectEventClass join(EVENT_CD == CODE_VALUE,\n\tjoinType:'inner',\n\tbroadcast: 'none')~> ceEventCode\neventClass filter(CODE_SET == 72 && ACTIVE_IND) ~> eventClassFilter\neventClassDesc filter(CODE_SET == 53 && ACTIVE_IND) ~> eventClassDescFilter\neventClassDescFilter select(mapColumn(\n\t\tCODE_VALUE,\n\t\tDESCRIPTION\n\t)) ~> SelectEventClassDesc\nceEventCode, SelectEventClassDesc join(EVENT_CLASS_CD == SelectEventClassDesc@CODE_VALUE,\n\tjoinType:'inner',\n\tbroadcast: 'none')~> ceEventClassDesc\nceResource select(mapColumn(\n\t\tCLINICAL_EVENT_ID,\n\t\tCerner_Encounter_ID = ENCNTR_ID,\n\t\tCerner_Patient_ID = PERSON_ID,\n\t\tCerner_ENCNTR_FINANCIAL_ID = ENCNTR_FINANCIAL_ID,\n\t\tEVENT_ID,\n\t\tEVENT_TITLE_TEXT,\n\t\tVIEW_LEVEL,\n\t\tORDER_ID,\n\t\tCATALOG_CD,\n\t\tACCESSION_NBR,\n\t\tCONTRIBUTOR_SYSTEM_CD,\n\t\tPARENT_EVENT_ID,\n\t\tEVENT_RELTN_CD,\n\t\tEVENT_CLASS_CD,\n\t\tEVENT_CD,\n\t\tEVENT_TAG,\n\t\tEVENT_END_DT_TM_OS,\n\t\tRESULT_VAL,\n\t\tRESULT_UNITS_CD,\n\t\tRESULT_TIME_UNITS_CD,\n\t\tTASK_ASSAY_CD,\n\t\tRECORD_STATUS_CD,\n\t\tRESULT_STATUS_CD,\n\t\tAUTHENTIC_FLAG,\n\t\tPUBLISH_FLAG,\n\t\tQC_REVIEW_CD,\n\t\tNORMALCY_CD,\n\t\tNORMALCY_METHOD_CD,\n\t\tRESOURCE_GROUP_CD,\n\t\tRESOURCE_CD,\n\t\tSUBTABLE_BIT_MAP,\n\t\tCOLLATING_SEQ,\n\t\tVERIFIED_PRSNL_ID,\n\t\tPERFORMED_PRSNL_ID,\n\t\tce_UPDT_ID = UPDT_ID,\n\t\tce_UPDT_TASK = UPDT_TASK,\n\t\tce_UPDT_CNT = UPDT_CNT,\n\t\tce_UPDT_APPLCTX = UPDT_APPLCTX,\n\t\tNORMAL_LOW,\n\t\tNORMAL_HIGH,\n\t\tCRITICAL_LOW,\n\t\tCRITICAL_HIGH,\n\t\tEVENT_TAG_SET_FLAG,\n\t\tNOTE_IMPORTANCE_BIT_MAP,\n\t\tORDER_ACTION_SEQUENCE,\n\t\tENTRY_MODE_CD,\n\t\tSOURCE_CD,\n\t\tCLINICAL_SEQ,\n\t\tEVENT_END_TZ,\n\t\tEVENT_START_TZ,\n\t\tPERFORMED_TZ,\n\t\tVERIFIED_TZ,\n\t\tTASK_ASSAY_VERSION_NBR,\n\t\tMODIFIER_LONG_TEXT_ID,\n\t\tSRC_EVENT_ID,\n\t\tCE_DYNAMIC_LABEL_ID,\n\t\tNOMEN_STRING_FLAG,\n\t\tce_LAST_UTC_TS = LAST_UTC_TS,\n\t\tDEVICE_FREE_TXT,\n\t\tTRAIT_BIT_MAP,\n\t\tVALID_UNTIL_DT_TM,\n\t\tVERIFIED_DT_TM,\n\t\tVALID_FROM_DT_TM,\n\t\tce_UPDT_DT_TM = UPDT_DT_TM,\n\t\tSRC_CLINSIG_UPDT_DT_TM,\n\t\tPERFORMED_DT_TM,\n\t\tEXPIRATION_DT_TM,\n\t\tEVENT_START_DT_TM,\n\t\tEVENT_END_DT_TM,\n\t\tCLINSIG_UPDT_DT_TM,\n\t\tUPDATE_PERSONNEL,\n\t\tVERIFIED_PERSONNEL,\n\t\tPERFORMING_PERSONNEL,\n\t\tDISPLAY_EVENT = DISPLAY,\n\t\tCODE_VALUE = SelectEventClassDesc@CODE_VALUE,\n\t\tDESCRIPTION = SelectEventClassDesc@DESCRIPTION,\n\t\tRESULT_UNIT_DISPLAY,\n\t\tRESULT_TIME_UNIT_DISPLAY,\n\t\tRESULT_STATUS_DISPLAY,\n\t\tCONTRIBUTOR_SYSTEM_DISPLAY,\n\t\tENTRY_MODE_DISPLAY = EVENT_ENTRY_MODE_DISPLAY,\n\t\tRESULT_SOURCE_DISPLAY,\n\t\tNORMALCY_DISPLAY,\n\t\tNORMALCY_METHOD_DISPLAY,\n\t\tEVENT_RELATIONSHIP_DISPLAY,\n\t\tRECORD_STATUS_DISPLAY,\n\t\tRESOURCE_GROUP_DISPLAY,\n\t\tRESOURCE_DISPLAY\n\t)) ~> MainSelect\neventClassFilter select(mapColumn(\n\t\tCODE_VALUE,\n\t\tCODE_SET,\n\t\tCDF_MEANING,\n\t\tDISPLAY,\n\t\tDISPLAY_KEY,\n\t\tDESCRIPTION,\n\t\tDEFINITION\n\t)) ~> SelectEventClass\nverifiedPrsnl select(mapColumn(\n\t\tVERIFIED_PERSON_ID = PERSON_ID,\n\t\tVERIFIED_PERSONNEL = NAME_FULL_FORMATTED\n\t)) ~> SelectVerifiedPrsnl\nupdatePrsnl select(mapColumn(\n\t\tUPDATE_PERSON_ID = PERSON_ID,\n\t\tUPDATE_PERSONNEL = NAME_FULL_FORMATTED\n\t)) ~> SelectUpdatePrsnl\nperformingPrsnl select(mapColumn(\n\t\tPERFORMING_PERSON_ID = PERSON_ID,\n\t\tPERFORMING_PERSONNEL = NAME_FULL_FORMATTED\n\t)) ~> SelectPerformingPrsnl\ncePrsnlPerformingPersonnel, SelectVerifiedPrsnl join(VERIFIED_PRSNL_ID == VERIFIED_PERSON_ID,\n\tjoinType:'inner',\n\tbroadcast: 'none')~> cePrsnlVerifiedPersonnel\nresultUnit filter(CODE_SET == 54 && ACTIVE_IND) ~> resultUnitFilter\nresultUnitFilter select(mapColumn(\n\t\tRESULT_UNIT_CODE_VALUE = CODE_VALUE,\n\t\tRESULT_UNIT_DISPLAY = DISPLAY\n\t)) ~> SelectResultUnit\nceEventClassDesc, SelectResultUnit join(RESULT_UNITS_CD == RESULT_UNIT_CODE_VALUE,\n\tjoinType:'inner',\n\tbroadcast: 'none')~> ceResultUnit\nresultTimeUnit filter(CODE_SET == 54 && ACTIVE_IND) ~> resultTimeUnitFilter\nresultTimeUnitFilter select(mapColumn(\n\t\tRESULT_TIME_UNIT_CODE_VALUE = CODE_VALUE,\n\t\tRESULT_TIME_UNIT_DISPLAY = DISPLAY\n\t)) ~> SelectResultTimeUnit\nceResultUnit, SelectResultTimeUnit join(RESULT_TIME_UNITS_CD == RESULT_TIME_UNIT_CODE_VALUE,\n\tjoinType:'inner',\n\tbroadcast: 'none')~> ceResultTimeUnit\nresultStatus filter(CODE_SET == 8 && ACTIVE_IND) ~> resultStatusFilter\nresultStatusFilter select(mapColumn(\n\t\tRESULT_STATUS_CODE_VALUE = CODE_VALUE,\n\t\tRESULT_STATUS_DISPLAY = DISPLAY\n\t)) ~> SelectResultStatus\nceResultTimeUnit, SelectResultStatus join(RESULT_STATUS_CD == RESULT_STATUS_CODE_VALUE,\n\tjoinType:'inner',\n\tbroadcast: 'none')~> ceResultStatus\ncontributorSystem filter(CODE_SET == 89 && ACTIVE_IND) ~> contributorSystemFilter\ncontributorSystemFilter select(mapColumn(\n\t\tCONTRIBUTOR_SYSTEM_CODE_VALUE = CODE_VALUE,\n\t\tCONTRIBUTOR_SYSTEM_DISPLAY = DISPLAY\n\t)) ~> SelectContributorSystem\nceResultStatus, SelectContributorSystem join(CONTRIBUTOR_SYSTEM_CD == CONTRIBUTOR_SYSTEM_CODE_VALUE,\n\tjoinType:'inner',\n\tbroadcast: 'none')~> ceContributorSystem\nentryMode filter(CODE_SET == 29520 && ACTIVE_IND) ~> entryModeFilter\nentryModeFilter select(mapColumn(\n\t\tEVENT_ENTRY_MODE_CODE_VALUE = CODE_VALUE,\n\t\tEVENT_ENTRY_MODE_DISPLAY = DISPLAY\n\t)) ~> SelectEntryMode\nceContributorSystem, SelectEntryMode join(ENTRY_MODE_CD == EVENT_ENTRY_MODE_CODE_VALUE,\n\tjoinType:'inner',\n\tbroadcast: 'none')~> ceEntryMode\nresultSource filter(CODE_SET == 30200 && ACTIVE_IND) ~> resultSourceFilter\nresultSourceFilter select(mapColumn(\n\t\tRESULT_SOURCE_CODE_VALUE = CODE_VALUE,\n\t\tRESULT_SOURCE_DISPLAY = DISPLAY\n\t)) ~> SelectResultSource\nceEntryMode, SelectResultSource join(SOURCE_CD == RESULT_SOURCE_CODE_VALUE,\n\tjoinType:'inner',\n\tbroadcast: 'none')~> ceResultSource\nnormalcy filter(CODE_SET == 52 && ACTIVE_IND) ~> normalcyFilter\nnormalcyFilter select(mapColumn(\n\t\tNORMALCY_CODE_VALUE = CODE_VALUE,\n\t\tNORMALCY_DISPLAY = DISPLAY\n\t)) ~> SelectNormalcy\nceResultSource, SelectNormalcy join(NORMALCY_CD == NORMALCY_CODE_VALUE,\n\tjoinType:'inner',\n\tbroadcast: 'none')~> ceNormalcy\nnormalcyMethod filter(CODE_SET == 50 && ACTIVE_IND) ~> normalcyMethodFilter\nnormalcyMethodFilter select(mapColumn(\n\t\tNORMALCY_METHOD_CODE_VALUE = CODE_VALUE,\n\t\tNORMALCY_METHOD_DISPLAY = DISPLAY\n\t)) ~> SelectNormalcyMethod\nceNormalcy, SelectNormalcyMethod join(NORMALCY_METHOD_CD == NORMALCY_METHOD_CODE_VALUE,\n\tjoinType:'inner',\n\tbroadcast: 'none')~> ceNormalcyMethod\neventRelationship filter(CODE_SET == 24 && ACTIVE_IND) ~> eventRelationshipFilter\neventRelationshipFilter select(mapColumn(\n\t\tEVENT_RELATIONSHIP_CODE_VALUE = CODE_VALUE,\n\t\tEVENT_RELATIONSHIP_DISPLAY = DISPLAY\n\t)) ~> SelectEventRelationship\nceNormalcyMethod, SelectEventRelationship join(EVENT_RELTN_CD == EVENT_RELATIONSHIP_CODE_VALUE,\n\tjoinType:'inner',\n\tbroadcast: 'none')~> ceEventRelationship\nrecordStatus filter(CODE_SET == 48 && ACTIVE_IND) ~> recordStatusFilter\nrecordStatusFilter select(mapColumn(\n\t\tRECORD_STATUS_CODE_VALUE = CODE_VALUE,\n\t\tRECORD_STATUS_DISPLAY = DISPLAY\n\t)) ~> SelectRecordStatus\nceEventRelationship, SelectRecordStatus join(RECORD_STATUS_CD == RECORD_STATUS_CODE_VALUE,\n\tjoinType:'inner',\n\tbroadcast: 'none')~> ceRecordStatus\nresourceGroup filter(CODE_SET == 221 && ACTIVE_IND) ~> resourceGroupFilter\nresourceGroupFilter select(mapColumn(\n\t\tRESOURCE_GROUP_CODE_VALUE = CODE_VALUE,\n\t\tRESOURCE_GROUP_DISPLAY = DISPLAY\n\t)) ~> SelectResourceGroup\nceRecordStatus, SelectResourceGroup join(RESOURCE_GROUP_CD == RESOURCE_GROUP_CODE_VALUE,\n\tjoinType:'inner',\n\tbroadcast: 'none')~> ceResourceGroup\nresource filter(CODE_SET == 221 && ACTIVE_IND) ~> resourceFilter\nresourceFilter select(mapColumn(\n\t\tRESOURCE_CODE_VALUE = CODE_VALUE,\n\t\tRESOURCE_DISPLAY = DISPLAY\n\t)) ~> SelectResource\nceResourceGroup, SelectResource join(RESOURCE_CD == RESOURCE_CODE_VALUE,\n\tjoinType:'inner',\n\tbroadcast: 'none')~> ceResource\nMainSelect sink(input(\n\t\tCODE_SET as integer,\n\t\tDISPLAY as string,\n\t\tDISPLAY_KEY as string,\n\t\tDESCRIPTION as string,\n\t\tDEFINITION as string,\n\t\tTABLE_NAME as string,\n\t\tCONTRIBUTOR as string,\n\t\tOWNER_MODULE as string,\n\t\tCACHE_IND as boolean,\n\t\tEXTENSION_IND as integer,\n\t\tADD_ACCESS_IND as boolean,\n\t\tCHG_ACCESS_IND as boolean,\n\t\tDEL_ACCESS_IND as boolean,\n\t\tINQ_ACCESS_IND as boolean,\n\t\tDOMAIN_QUALIFIER_IND as boolean,\n\t\tDOMAIN_CODE_SET as integer,\n\t\tUPDT_ID as integer,\n\t\tUPDT_CNT as integer,\n\t\tUPDT_TASK as integer,\n\t\tUPDT_APPLCTX as long,\n\t\tCODE_SET_HITS as integer,\n\t\tCODE_VALUES_CNT as integer,\n\t\tDEF_DUP_RULE_FLAG as integer,\n\t\tCDF_MEANING_DUP_IND as boolean,\n\t\tDISPLAY_KEY_DUP_IND as boolean,\n\t\tACTIVE_IND_DUP_IND as boolean,\n\t\tDISPLAY_DUP_IND as boolean,\n\t\tALIAS_DUP_IND as boolean,\n\t\tDEFINITION_DUP_IND as boolean,\n\t\tLAST_UTC_TS as timestamp,\n\t\tTXN_ID_TEXT as string,\n\t\tUPDT_DT_TM as timestamp,\n\t\tINST_ID as integer,\n\t\tDW_Refresh_DT_TM as timestamp\n\t),\n\tallowSchemaDrift: true,\n\tvalidateSchema: false) ~> VitalsSink"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/VitalsQueryTest')]",
			"type": "Microsoft.DataFactory/factories/dataflows",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Query to combine tables into the Vitals dataset\n",
				"type": "MappingDataFlow",
				"typeProperties": {
					"sources": [
						{
							"dataset": {
								"referenceName": "StagedClinicalEventTest",
								"type": "DatasetReference"
							},
							"name": "clinicalevent",
							"typeProperties": {}
						},
						{
							"dataset": {
								"referenceName": "StagedPrsnlTest",
								"type": "DatasetReference"
							},
							"name": "updatePrsnl",
							"typeProperties": {}
						},
						{
							"dataset": {
								"referenceName": "StagedPrsnlTest",
								"type": "DatasetReference"
							},
							"name": "verifiedPrsnl",
							"typeProperties": {}
						},
						{
							"dataset": {
								"referenceName": "StagedPrsnlTest",
								"type": "DatasetReference"
							},
							"name": "performingPrsnl",
							"typeProperties": {}
						},
						{
							"dataset": {
								"referenceName": "StagedCodeValueTest",
								"type": "DatasetReference"
							},
							"name": "eventClass",
							"typeProperties": {}
						},
						{
							"dataset": {
								"referenceName": "StagedCodeValueTest",
								"type": "DatasetReference"
							},
							"name": "eventClassDesc",
							"typeProperties": {}
						},
						{
							"dataset": {
								"referenceName": "StagedCodeValueTest",
								"type": "DatasetReference"
							},
							"name": "resultUnit",
							"typeProperties": {}
						},
						{
							"dataset": {
								"referenceName": "StagedCodeValueTest",
								"type": "DatasetReference"
							},
							"name": "resultTimeUnit",
							"typeProperties": {}
						},
						{
							"dataset": {
								"referenceName": "StagedCodeValueTest",
								"type": "DatasetReference"
							},
							"name": "resultStatus",
							"typeProperties": {}
						},
						{
							"dataset": {
								"referenceName": "StagedCodeValueTest",
								"type": "DatasetReference"
							},
							"name": "contributorSystem",
							"typeProperties": {}
						},
						{
							"dataset": {
								"referenceName": "StagedCodeValueTest",
								"type": "DatasetReference"
							},
							"name": "entryMode",
							"typeProperties": {}
						},
						{
							"dataset": {
								"referenceName": "StagedCodeValueTest",
								"type": "DatasetReference"
							},
							"name": "resultSource",
							"typeProperties": {}
						},
						{
							"dataset": {
								"referenceName": "StagedCodeValueTest",
								"type": "DatasetReference"
							},
							"name": "normalcy",
							"typeProperties": {}
						},
						{
							"dataset": {
								"referenceName": "StagedCodeValueTest",
								"type": "DatasetReference"
							},
							"name": "normalcyMethod",
							"typeProperties": {}
						},
						{
							"dataset": {
								"referenceName": "StagedCodeValueTest",
								"type": "DatasetReference"
							},
							"name": "eventRelationship",
							"typeProperties": {}
						},
						{
							"dataset": {
								"referenceName": "StagedCodeValueTest",
								"type": "DatasetReference"
							},
							"name": "recordStatus",
							"typeProperties": {}
						},
						{
							"dataset": {
								"referenceName": "StagedCodeValueTest",
								"type": "DatasetReference"
							},
							"name": "resourceGroup",
							"typeProperties": {}
						},
						{
							"dataset": {
								"referenceName": "StagedCodeValueTest",
								"type": "DatasetReference"
							},
							"name": "resource",
							"typeProperties": {}
						}
					],
					"sinks": [
						{
							"dataset": {
								"referenceName": "VitalsSinkTest",
								"type": "DatasetReference"
							},
							"name": "VitalsSink"
						}
					],
					"transformations": [
						{
							"name": "cePrsnlUpdatePersonnel"
						},
						{
							"name": "cePrsnlPerformingPersonnel"
						},
						{
							"name": "ceEventCode"
						},
						{
							"name": "eventClassFilter"
						},
						{
							"name": "eventClassDescFilter"
						},
						{
							"name": "SelectEventClassDesc"
						},
						{
							"name": "ceEventClassDesc"
						},
						{
							"name": "MainSelect"
						},
						{
							"name": "SelectEventClass"
						},
						{
							"name": "SelectVerifiedPrsnl"
						},
						{
							"name": "SelectUpdatePrsnl"
						},
						{
							"name": "SelectPerformingPrsnl"
						},
						{
							"name": "cePrsnlVerifiedPersonnel"
						},
						{
							"name": "resultUnitFilter"
						},
						{
							"name": "SelectResultUnit"
						},
						{
							"name": "ceResultUnit"
						},
						{
							"name": "resultTimeUnitFilter"
						},
						{
							"name": "SelectResultTimeUnit"
						},
						{
							"name": "ceResultTimeUnit"
						},
						{
							"name": "resultStatusFilter"
						},
						{
							"name": "SelectResultStatus"
						},
						{
							"name": "ceResultStatus"
						},
						{
							"name": "contributorSystemFilter"
						},
						{
							"name": "SelectContributorSystem"
						},
						{
							"name": "ceContributorSystem"
						},
						{
							"name": "entryModeFilter"
						},
						{
							"name": "SelectEntryMode"
						},
						{
							"name": "ceEntryMode"
						},
						{
							"name": "resultSourceFilter"
						},
						{
							"name": "SelectResultSource"
						},
						{
							"name": "ceResultSource"
						},
						{
							"name": "normalcyFilter"
						},
						{
							"name": "SelectNormalcy"
						},
						{
							"name": "ceNormalcy"
						},
						{
							"name": "normalcyMethodFilter"
						},
						{
							"name": "SelectNormalcyMethod"
						},
						{
							"name": "ceNormalcyMethod"
						},
						{
							"name": "eventRelationshipFilter"
						},
						{
							"name": "SelectEventRelationship"
						},
						{
							"name": "ceEventRelationship"
						},
						{
							"name": "recordStatusFilter"
						},
						{
							"name": "SelectRecordStatus"
						},
						{
							"name": "ceRecordStatus"
						},
						{
							"name": "resourceGroupFilter"
						},
						{
							"name": "SelectResourceGroup"
						},
						{
							"name": "ceResourceGroup"
						},
						{
							"name": "resourceFilter"
						},
						{
							"name": "SelectResource"
						},
						{
							"name": "ceResource"
						}
					],
					"script": "\n\nsource(output(\n\t\tCLINICAL_EVENT_ID as double,\n\t\tENCNTR_ID as double,\n\t\tPERSON_ID as double,\n\t\tUTC_TMP2_4 as timestamp,\n\t\tENCNTR_FINANCIAL_ID as double,\n\t\tEVENT_ID as double,\n\t\tUTC_TMP2_7 as timestamp,\n\t\tEVENT_TITLE_TEXT as string,\n\t\tVIEW_LEVEL as double,\n\t\tORDER_ID as double,\n\t\tCATALOG_CD as double,\n\t\tSERIES_REF_NBR as string,\n\t\tACCESSION_NBR as string,\n\t\tCONTRIBUTOR_SYSTEM_CD as double,\n\t\tREFERENCE_NBR as string,\n\t\tPARENT_EVENT_ID as double,\n\t\tEVENT_RELTN_CD as double,\n\t\tUTC_TMP2_18 as timestamp,\n\t\tEVENT_CLASS_CD as double,\n\t\tEVENT_CD as double,\n\t\tEVENT_TAG as string,\n\t\tUTC_TMP2_22 as timestamp,\n\t\tEVENT_END_DT_TM_OS as double,\n\t\tRESULT_VAL as string,\n\t\tRESULT_UNITS_CD as double,\n\t\tRESULT_TIME_UNITS_CD as double,\n\t\tTASK_ASSAY_CD as double,\n\t\tRECORD_STATUS_CD as double,\n\t\tRESULT_STATUS_CD as double,\n\t\tAUTHENTIC_FLAG as double,\n\t\tPUBLISH_FLAG as double,\n\t\tQC_REVIEW_CD as double,\n\t\tNORMALCY_CD as double,\n\t\tNORMALCY_METHOD_CD as double,\n\t\tINQUIRE_SECURITY_CD as double,\n\t\tRESOURCE_GROUP_CD as double,\n\t\tRESOURCE_CD as double,\n\t\tSUBTABLE_BIT_MAP as double,\n\t\tCOLLATING_SEQ as string,\n\t\tUTC_TMP2_40 as timestamp,\n\t\tVERIFIED_PRSNL_ID as double,\n\t\tUTC_TMP2_42 as timestamp,\n\t\tPERFORMED_PRSNL_ID as double,\n\t\tUTC_TMP2_44 as timestamp,\n\t\tUPDT_ID as double,\n\t\tUPDT_TASK as double,\n\t\tUPDT_CNT as double,\n\t\tUPDT_APPLCTX as double,\n\t\tNORMAL_LOW as string,\n\t\tNORMAL_HIGH as string,\n\t\tCRITICAL_LOW as string,\n\t\tCRITICAL_HIGH as string,\n\t\tUTC_TMP2_53 as timestamp,\n\t\tEVENT_TAG_SET_FLAG as double,\n\t\tNOTE_IMPORTANCE_BIT_MAP as double,\n\t\tUTC_TMP2_56 as timestamp,\n\t\tORDER_ACTION_SEQUENCE as double,\n\t\tENTRY_MODE_CD as double,\n\t\tSOURCE_CD as double,\n\t\tCLINICAL_SEQ as string,\n\t\tEVENT_END_TZ as double,\n\t\tEVENT_START_TZ as double,\n\t\tPERFORMED_TZ as double,\n\t\tVERIFIED_TZ as double,\n\t\tTASK_ASSAY_VERSION_NBR as double,\n\t\tMODIFIER_LONG_TEXT_ID as double,\n\t\tSRC_EVENT_ID as double,\n\t\tUTC_TMP2_68 as timestamp,\n\t\tCE_DYNAMIC_LABEL_ID as double,\n\t\tNOMEN_STRING_FLAG as double,\n\t\tLAST_UTC_TS as timestamp,\n\t\tDEVICE_FREE_TXT as string,\n\t\tTRAIT_BIT_MAP as double,\n\t\tTXN_ID_TEXT as string,\n\t\tCLU_SUBKEY1_FLAG as double,\n\t\tVALID_UNTIL_DT_TM as timestamp,\n\t\tVERIFIED_DT_TM as timestamp,\n\t\tVALID_FROM_DT_TM as timestamp,\n\t\tUPDT_DT_TM as timestamp,\n\t\tSRC_CLINSIG_UPDT_DT_TM as timestamp,\n\t\tPERFORMED_DT_TM as timestamp,\n\t\tEXPIRATION_DT_TM as timestamp,\n\t\tEVENT_START_DT_TM as timestamp,\n\t\tEVENT_END_DT_TM as timestamp,\n\t\tCLINSIG_UPDT_DT_TM as timestamp,\n\t\tINST_ID as double\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false) ~> clinicalevent\nsource(output(\n\t\tPERSON_ID as double,\n\t\tUPDT_CNT as double,\n\t\tUTC_TMP2_3 as timestamp,\n\t\tUPDT_ID as double,\n\t\tUPDT_TASK as double,\n\t\tUPDT_APPLCTX as double,\n\t\tACTIVE_IND as double,\n\t\tACTIVE_STATUS_CD as double,\n\t\tUTC_TMP2_9 as timestamp,\n\t\tACTIVE_STATUS_PRSNL_ID as double,\n\t\tCREATE_PRSNL_ID as double,\n\t\tUTC_TMP2_12 as timestamp,\n\t\tNAME_LAST_KEY as string,\n\t\tNAME_FIRST_KEY as string,\n\t\tPRSNL_TYPE_CD as double,\n\t\tNAME_FULL_FORMATTED as string,\n\t\tPASSWORD as string,\n\t\tEMAIL as string,\n\t\tPHYSICIAN_IND as double,\n\t\tPOSITION_CD as double,\n\t\tDEPARTMENT_CD as double,\n\t\tFREE_TEXT_IND as double,\n\t\tUTC_TMP2_23 as timestamp,\n\t\tUTC_TMP2_24 as timestamp,\n\t\tSECTION_CD as double,\n\t\tDATA_STATUS_CD as double,\n\t\tUTC_TMP2_27 as timestamp,\n\t\tDATA_STATUS_PRSNL_ID as double,\n\t\tCONTRIBUTOR_SYSTEM_CD as double,\n\t\tNAME_LAST as string,\n\t\tNAME_FIRST as string,\n\t\tUSERNAME as string,\n\t\tFT_ENTITY_NAME as string,\n\t\tFT_ENTITY_ID as double,\n\t\tPRIM_ASSIGN_LOC_CD as double,\n\t\tLOG_ACCESS_IND as double,\n\t\tLOG_LEVEL as double,\n\t\tNAME_FIRST_KEY_NLS as string,\n\t\tNAME_LAST_KEY_NLS as string,\n\t\tPHYSICIAN_STATUS_CD as double,\n\t\tLOGICAL_DOMAIN_ID as double,\n\t\tLOGICAL_DOMAIN_GRP_ID as double,\n\t\tNAME_FIRST_KEY_A_NLS as string,\n\t\tNAME_LAST_KEY_A_NLS as string,\n\t\tLAST_UTC_TS as timestamp,\n\t\tEXTERNAL_IND as double,\n\t\tTXN_ID_TEXT as string,\n\t\tACTIVE_STATUS_DT_TM as timestamp,\n\t\tBEG_EFFECTIVE_DT_TM as timestamp,\n\t\tCREATE_DT_TM as timestamp,\n\t\tDATA_STATUS_DT_TM as timestamp,\n\t\tUPDT_DT_TM as timestamp,\n\t\tEND_EFFECTIVE_DT_TM as timestamp,\n\t\tINST_ID as double\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false) ~> updatePrsnl\nsource(output(\n\t\tPERSON_ID as double,\n\t\tUPDT_CNT as double,\n\t\tUTC_TMP2_3 as timestamp,\n\t\tUPDT_ID as double,\n\t\tUPDT_TASK as double,\n\t\tUPDT_APPLCTX as double,\n\t\tACTIVE_IND as double,\n\t\tACTIVE_STATUS_CD as double,\n\t\tUTC_TMP2_9 as timestamp,\n\t\tACTIVE_STATUS_PRSNL_ID as double,\n\t\tCREATE_PRSNL_ID as double,\n\t\tUTC_TMP2_12 as timestamp,\n\t\tNAME_LAST_KEY as string,\n\t\tNAME_FIRST_KEY as string,\n\t\tPRSNL_TYPE_CD as double,\n\t\tNAME_FULL_FORMATTED as string,\n\t\tPASSWORD as string,\n\t\tEMAIL as string,\n\t\tPHYSICIAN_IND as double,\n\t\tPOSITION_CD as double,\n\t\tDEPARTMENT_CD as double,\n\t\tFREE_TEXT_IND as double,\n\t\tUTC_TMP2_23 as timestamp,\n\t\tUTC_TMP2_24 as timestamp,\n\t\tSECTION_CD as double,\n\t\tDATA_STATUS_CD as double,\n\t\tUTC_TMP2_27 as timestamp,\n\t\tDATA_STATUS_PRSNL_ID as double,\n\t\tCONTRIBUTOR_SYSTEM_CD as double,\n\t\tNAME_LAST as string,\n\t\tNAME_FIRST as string,\n\t\tUSERNAME as string,\n\t\tFT_ENTITY_NAME as string,\n\t\tFT_ENTITY_ID as double,\n\t\tPRIM_ASSIGN_LOC_CD as double,\n\t\tLOG_ACCESS_IND as double,\n\t\tLOG_LEVEL as double,\n\t\tNAME_FIRST_KEY_NLS as string,\n\t\tNAME_LAST_KEY_NLS as string,\n\t\tPHYSICIAN_STATUS_CD as double,\n\t\tLOGICAL_DOMAIN_ID as double,\n\t\tLOGICAL_DOMAIN_GRP_ID as double,\n\t\tNAME_FIRST_KEY_A_NLS as string,\n\t\tNAME_LAST_KEY_A_NLS as string,\n\t\tLAST_UTC_TS as timestamp,\n\t\tEXTERNAL_IND as double,\n\t\tTXN_ID_TEXT as string,\n\t\tACTIVE_STATUS_DT_TM as timestamp,\n\t\tBEG_EFFECTIVE_DT_TM as timestamp,\n\t\tCREATE_DT_TM as timestamp,\n\t\tDATA_STATUS_DT_TM as timestamp,\n\t\tUPDT_DT_TM as timestamp,\n\t\tEND_EFFECTIVE_DT_TM as timestamp,\n\t\tINST_ID as double\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false) ~> verifiedPrsnl\nsource(output(\n\t\tPERSON_ID as double,\n\t\tUPDT_CNT as double,\n\t\tUTC_TMP2_3 as timestamp,\n\t\tUPDT_ID as double,\n\t\tUPDT_TASK as double,\n\t\tUPDT_APPLCTX as double,\n\t\tACTIVE_IND as double,\n\t\tACTIVE_STATUS_CD as double,\n\t\tUTC_TMP2_9 as timestamp,\n\t\tACTIVE_STATUS_PRSNL_ID as double,\n\t\tCREATE_PRSNL_ID as double,\n\t\tUTC_TMP2_12 as timestamp,\n\t\tNAME_LAST_KEY as string,\n\t\tNAME_FIRST_KEY as string,\n\t\tPRSNL_TYPE_CD as double,\n\t\tNAME_FULL_FORMATTED as string,\n\t\tPASSWORD as string,\n\t\tEMAIL as string,\n\t\tPHYSICIAN_IND as double,\n\t\tPOSITION_CD as double,\n\t\tDEPARTMENT_CD as double,\n\t\tFREE_TEXT_IND as double,\n\t\tUTC_TMP2_23 as timestamp,\n\t\tUTC_TMP2_24 as timestamp,\n\t\tSECTION_CD as double,\n\t\tDATA_STATUS_CD as double,\n\t\tUTC_TMP2_27 as timestamp,\n\t\tDATA_STATUS_PRSNL_ID as double,\n\t\tCONTRIBUTOR_SYSTEM_CD as double,\n\t\tNAME_LAST as string,\n\t\tNAME_FIRST as string,\n\t\tUSERNAME as string,\n\t\tFT_ENTITY_NAME as string,\n\t\tFT_ENTITY_ID as double,\n\t\tPRIM_ASSIGN_LOC_CD as double,\n\t\tLOG_ACCESS_IND as double,\n\t\tLOG_LEVEL as double,\n\t\tNAME_FIRST_KEY_NLS as string,\n\t\tNAME_LAST_KEY_NLS as string,\n\t\tPHYSICIAN_STATUS_CD as double,\n\t\tLOGICAL_DOMAIN_ID as double,\n\t\tLOGICAL_DOMAIN_GRP_ID as double,\n\t\tNAME_FIRST_KEY_A_NLS as string,\n\t\tNAME_LAST_KEY_A_NLS as string,\n\t\tLAST_UTC_TS as timestamp,\n\t\tEXTERNAL_IND as double,\n\t\tTXN_ID_TEXT as string,\n\t\tACTIVE_STATUS_DT_TM as timestamp,\n\t\tBEG_EFFECTIVE_DT_TM as timestamp,\n\t\tCREATE_DT_TM as timestamp,\n\t\tDATA_STATUS_DT_TM as timestamp,\n\t\tUPDT_DT_TM as timestamp,\n\t\tEND_EFFECTIVE_DT_TM as timestamp,\n\t\tINST_ID as double\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false) ~> performingPrsnl\nsource(output(\n\t\tCODE_VALUE as long,\n\t\tCODE_SET as integer,\n\t\tCDF_MEANING as string,\n\t\tDISPLAY as string,\n\t\tDISPLAY_KEY as string,\n\t\tDESCRIPTION as string,\n\t\tDEFINITION as string,\n\t\tCOLLATION_SEQ as integer,\n\t\tACTIVE_TYPE_CD as long,\n\t\tACTIVE_IND as boolean,\n\t\tUPDT_ID as integer,\n\t\tUPDT_CNT as integer,\n\t\tUPDT_TASK as integer,\n\t\tUPDT_APPLCTX as long,\n\t\tDATA_STATUS_CD as long,\n\t\tDATA_STATUS_PRSNL_ID as integer,\n\t\tACTIVE_STATUS_PRSNL_ID as integer,\n\t\tCKI as string,\n\t\tDISPLAY_KEY_NLS as string,\n\t\tCONCEPT_CKI as string,\n\t\tDISPLAY_KEY_A_NLS as string,\n\t\tLAST_UTC_TS as timestamp,\n\t\tTXN_ID_TEXT as string,\n\t\tCLU_SUBKEY1_FLAG as boolean,\n\t\tACTIVE_DT_TM as timestamp,\n\t\tBEGIN_EFFECTIVE_DT_TM as timestamp,\n\t\tDATA_STATUS_DT_TM as timestamp,\n\t\tUPDT_DT_TM as timestamp,\n\t\tINACTIVE_DT_TM as timestamp,\n\t\tEND_EFFECTIVE_DT_TM as timestamp,\n\t\tINST_ID as integer,\n\t\tDW_Refresh_DT_TM as timestamp\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false) ~> eventClass\nsource(output(\n\t\tCODE_VALUE as long,\n\t\tCODE_SET as integer,\n\t\tCDF_MEANING as string,\n\t\tDISPLAY as string,\n\t\tDISPLAY_KEY as string,\n\t\tDESCRIPTION as string,\n\t\tDEFINITION as string,\n\t\tCOLLATION_SEQ as integer,\n\t\tACTIVE_TYPE_CD as long,\n\t\tACTIVE_IND as boolean,\n\t\tUPDT_ID as integer,\n\t\tUPDT_CNT as integer,\n\t\tUPDT_TASK as integer,\n\t\tUPDT_APPLCTX as long,\n\t\tDATA_STATUS_CD as long,\n\t\tDATA_STATUS_PRSNL_ID as integer,\n\t\tACTIVE_STATUS_PRSNL_ID as integer,\n\t\tCKI as string,\n\t\tDISPLAY_KEY_NLS as string,\n\t\tCONCEPT_CKI as string,\n\t\tDISPLAY_KEY_A_NLS as string,\n\t\tLAST_UTC_TS as timestamp,\n\t\tTXN_ID_TEXT as string,\n\t\tCLU_SUBKEY1_FLAG as boolean,\n\t\tACTIVE_DT_TM as timestamp,\n\t\tBEGIN_EFFECTIVE_DT_TM as timestamp,\n\t\tDATA_STATUS_DT_TM as timestamp,\n\t\tUPDT_DT_TM as timestamp,\n\t\tINACTIVE_DT_TM as timestamp,\n\t\tEND_EFFECTIVE_DT_TM as timestamp,\n\t\tINST_ID as integer,\n\t\tDW_Refresh_DT_TM as timestamp\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false) ~> eventClassDesc\nsource(output(\n\t\tCODE_VALUE as long,\n\t\tCODE_SET as integer,\n\t\tCDF_MEANING as string,\n\t\tDISPLAY as string,\n\t\tDISPLAY_KEY as string,\n\t\tDESCRIPTION as string,\n\t\tDEFINITION as string,\n\t\tCOLLATION_SEQ as integer,\n\t\tACTIVE_TYPE_CD as long,\n\t\tACTIVE_IND as boolean,\n\t\tUPDT_ID as integer,\n\t\tUPDT_CNT as integer,\n\t\tUPDT_TASK as integer,\n\t\tUPDT_APPLCTX as long,\n\t\tDATA_STATUS_CD as long,\n\t\tDATA_STATUS_PRSNL_ID as integer,\n\t\tACTIVE_STATUS_PRSNL_ID as integer,\n\t\tCKI as string,\n\t\tDISPLAY_KEY_NLS as string,\n\t\tCONCEPT_CKI as string,\n\t\tDISPLAY_KEY_A_NLS as string,\n\t\tLAST_UTC_TS as timestamp,\n\t\tTXN_ID_TEXT as string,\n\t\tCLU_SUBKEY1_FLAG as boolean,\n\t\tACTIVE_DT_TM as timestamp,\n\t\tBEGIN_EFFECTIVE_DT_TM as timestamp,\n\t\tDATA_STATUS_DT_TM as timestamp,\n\t\tUPDT_DT_TM as timestamp,\n\t\tINACTIVE_DT_TM as timestamp,\n\t\tEND_EFFECTIVE_DT_TM as timestamp,\n\t\tINST_ID as integer,\n\t\tDW_Refresh_DT_TM as timestamp\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false) ~> resultUnit\nsource(output(\n\t\tCODE_VALUE as long,\n\t\tCODE_SET as integer,\n\t\tCDF_MEANING as string,\n\t\tDISPLAY as string,\n\t\tDISPLAY_KEY as string,\n\t\tDESCRIPTION as string,\n\t\tDEFINITION as string,\n\t\tCOLLATION_SEQ as integer,\n\t\tACTIVE_TYPE_CD as long,\n\t\tACTIVE_IND as boolean,\n\t\tUPDT_ID as integer,\n\t\tUPDT_CNT as integer,\n\t\tUPDT_TASK as integer,\n\t\tUPDT_APPLCTX as long,\n\t\tDATA_STATUS_CD as long,\n\t\tDATA_STATUS_PRSNL_ID as integer,\n\t\tACTIVE_STATUS_PRSNL_ID as integer,\n\t\tCKI as string,\n\t\tDISPLAY_KEY_NLS as string,\n\t\tCONCEPT_CKI as string,\n\t\tDISPLAY_KEY_A_NLS as string,\n\t\tLAST_UTC_TS as timestamp,\n\t\tTXN_ID_TEXT as string,\n\t\tCLU_SUBKEY1_FLAG as boolean,\n\t\tACTIVE_DT_TM as timestamp,\n\t\tBEGIN_EFFECTIVE_DT_TM as timestamp,\n\t\tDATA_STATUS_DT_TM as timestamp,\n\t\tUPDT_DT_TM as timestamp,\n\t\tINACTIVE_DT_TM as timestamp,\n\t\tEND_EFFECTIVE_DT_TM as timestamp,\n\t\tINST_ID as integer,\n\t\tDW_Refresh_DT_TM as timestamp\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false) ~> resultTimeUnit\nsource(output(\n\t\tCODE_VALUE as long,\n\t\tCODE_SET as integer,\n\t\tCDF_MEANING as string,\n\t\tDISPLAY as string,\n\t\tDISPLAY_KEY as string,\n\t\tDESCRIPTION as string,\n\t\tDEFINITION as string,\n\t\tCOLLATION_SEQ as integer,\n\t\tACTIVE_TYPE_CD as long,\n\t\tACTIVE_IND as boolean,\n\t\tUPDT_ID as integer,\n\t\tUPDT_CNT as integer,\n\t\tUPDT_TASK as integer,\n\t\tUPDT_APPLCTX as long,\n\t\tDATA_STATUS_CD as long,\n\t\tDATA_STATUS_PRSNL_ID as integer,\n\t\tACTIVE_STATUS_PRSNL_ID as integer,\n\t\tCKI as string,\n\t\tDISPLAY_KEY_NLS as string,\n\t\tCONCEPT_CKI as string,\n\t\tDISPLAY_KEY_A_NLS as string,\n\t\tLAST_UTC_TS as timestamp,\n\t\tTXN_ID_TEXT as string,\n\t\tCLU_SUBKEY1_FLAG as boolean,\n\t\tACTIVE_DT_TM as timestamp,\n\t\tBEGIN_EFFECTIVE_DT_TM as timestamp,\n\t\tDATA_STATUS_DT_TM as timestamp,\n\t\tUPDT_DT_TM as timestamp,\n\t\tINACTIVE_DT_TM as timestamp,\n\t\tEND_EFFECTIVE_DT_TM as timestamp,\n\t\tINST_ID as integer,\n\t\tDW_Refresh_DT_TM as timestamp\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false) ~> resultStatus\nsource(output(\n\t\tCODE_VALUE as long,\n\t\tCODE_SET as integer,\n\t\tCDF_MEANING as string,\n\t\tDISPLAY as string,\n\t\tDISPLAY_KEY as string,\n\t\tDESCRIPTION as string,\n\t\tDEFINITION as string,\n\t\tCOLLATION_SEQ as integer,\n\t\tACTIVE_TYPE_CD as long,\n\t\tACTIVE_IND as boolean,\n\t\tUPDT_ID as integer,\n\t\tUPDT_CNT as integer,\n\t\tUPDT_TASK as integer,\n\t\tUPDT_APPLCTX as long,\n\t\tDATA_STATUS_CD as long,\n\t\tDATA_STATUS_PRSNL_ID as integer,\n\t\tACTIVE_STATUS_PRSNL_ID as integer,\n\t\tCKI as string,\n\t\tDISPLAY_KEY_NLS as string,\n\t\tCONCEPT_CKI as string,\n\t\tDISPLAY_KEY_A_NLS as string,\n\t\tLAST_UTC_TS as timestamp,\n\t\tTXN_ID_TEXT as string,\n\t\tCLU_SUBKEY1_FLAG as boolean,\n\t\tACTIVE_DT_TM as timestamp,\n\t\tBEGIN_EFFECTIVE_DT_TM as timestamp,\n\t\tDATA_STATUS_DT_TM as timestamp,\n\t\tUPDT_DT_TM as timestamp,\n\t\tINACTIVE_DT_TM as timestamp,\n\t\tEND_EFFECTIVE_DT_TM as timestamp,\n\t\tINST_ID as integer,\n\t\tDW_Refresh_DT_TM as timestamp\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false) ~> contributorSystem\nsource(output(\n\t\tCODE_VALUE as long,\n\t\tCODE_SET as integer,\n\t\tCDF_MEANING as string,\n\t\tDISPLAY as string,\n\t\tDISPLAY_KEY as string,\n\t\tDESCRIPTION as string,\n\t\tDEFINITION as string,\n\t\tCOLLATION_SEQ as integer,\n\t\tACTIVE_TYPE_CD as long,\n\t\tACTIVE_IND as boolean,\n\t\tUPDT_ID as integer,\n\t\tUPDT_CNT as integer,\n\t\tUPDT_TASK as integer,\n\t\tUPDT_APPLCTX as long,\n\t\tDATA_STATUS_CD as long,\n\t\tDATA_STATUS_PRSNL_ID as integer,\n\t\tACTIVE_STATUS_PRSNL_ID as integer,\n\t\tCKI as string,\n\t\tDISPLAY_KEY_NLS as string,\n\t\tCONCEPT_CKI as string,\n\t\tDISPLAY_KEY_A_NLS as string,\n\t\tLAST_UTC_TS as timestamp,\n\t\tTXN_ID_TEXT as string,\n\t\tCLU_SUBKEY1_FLAG as boolean,\n\t\tACTIVE_DT_TM as timestamp,\n\t\tBEGIN_EFFECTIVE_DT_TM as timestamp,\n\t\tDATA_STATUS_DT_TM as timestamp,\n\t\tUPDT_DT_TM as timestamp,\n\t\tINACTIVE_DT_TM as timestamp,\n\t\tEND_EFFECTIVE_DT_TM as timestamp,\n\t\tINST_ID as integer,\n\t\tDW_Refresh_DT_TM as timestamp\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false) ~> entryMode\nsource(output(\n\t\tCODE_VALUE as long,\n\t\tCODE_SET as integer,\n\t\tCDF_MEANING as string,\n\t\tDISPLAY as string,\n\t\tDISPLAY_KEY as string,\n\t\tDESCRIPTION as string,\n\t\tDEFINITION as string,\n\t\tCOLLATION_SEQ as integer,\n\t\tACTIVE_TYPE_CD as long,\n\t\tACTIVE_IND as boolean,\n\t\tUPDT_ID as integer,\n\t\tUPDT_CNT as integer,\n\t\tUPDT_TASK as integer,\n\t\tUPDT_APPLCTX as long,\n\t\tDATA_STATUS_CD as long,\n\t\tDATA_STATUS_PRSNL_ID as integer,\n\t\tACTIVE_STATUS_PRSNL_ID as integer,\n\t\tCKI as string,\n\t\tDISPLAY_KEY_NLS as string,\n\t\tCONCEPT_CKI as string,\n\t\tDISPLAY_KEY_A_NLS as string,\n\t\tLAST_UTC_TS as timestamp,\n\t\tTXN_ID_TEXT as string,\n\t\tCLU_SUBKEY1_FLAG as boolean,\n\t\tACTIVE_DT_TM as timestamp,\n\t\tBEGIN_EFFECTIVE_DT_TM as timestamp,\n\t\tDATA_STATUS_DT_TM as timestamp,\n\t\tUPDT_DT_TM as timestamp,\n\t\tINACTIVE_DT_TM as timestamp,\n\t\tEND_EFFECTIVE_DT_TM as timestamp,\n\t\tINST_ID as integer,\n\t\tDW_Refresh_DT_TM as timestamp\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false) ~> resultSource\nsource(output(\n\t\tCODE_VALUE as long,\n\t\tCODE_SET as integer,\n\t\tCDF_MEANING as string,\n\t\tDISPLAY as string,\n\t\tDISPLAY_KEY as string,\n\t\tDESCRIPTION as string,\n\t\tDEFINITION as string,\n\t\tCOLLATION_SEQ as integer,\n\t\tACTIVE_TYPE_CD as long,\n\t\tACTIVE_IND as boolean,\n\t\tUPDT_ID as integer,\n\t\tUPDT_CNT as integer,\n\t\tUPDT_TASK as integer,\n\t\tUPDT_APPLCTX as long,\n\t\tDATA_STATUS_CD as long,\n\t\tDATA_STATUS_PRSNL_ID as integer,\n\t\tACTIVE_STATUS_PRSNL_ID as integer,\n\t\tCKI as string,\n\t\tDISPLAY_KEY_NLS as string,\n\t\tCONCEPT_CKI as string,\n\t\tDISPLAY_KEY_A_NLS as string,\n\t\tLAST_UTC_TS as timestamp,\n\t\tTXN_ID_TEXT as string,\n\t\tCLU_SUBKEY1_FLAG as boolean,\n\t\tACTIVE_DT_TM as timestamp,\n\t\tBEGIN_EFFECTIVE_DT_TM as timestamp,\n\t\tDATA_STATUS_DT_TM as timestamp,\n\t\tUPDT_DT_TM as timestamp,\n\t\tINACTIVE_DT_TM as timestamp,\n\t\tEND_EFFECTIVE_DT_TM as timestamp,\n\t\tINST_ID as integer,\n\t\tDW_Refresh_DT_TM as timestamp\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false) ~> normalcy\nsource(output(\n\t\tCODE_VALUE as long,\n\t\tCODE_SET as integer,\n\t\tCDF_MEANING as string,\n\t\tDISPLAY as string,\n\t\tDISPLAY_KEY as string,\n\t\tDESCRIPTION as string,\n\t\tDEFINITION as string,\n\t\tCOLLATION_SEQ as integer,\n\t\tACTIVE_TYPE_CD as long,\n\t\tACTIVE_IND as boolean,\n\t\tUPDT_ID as integer,\n\t\tUPDT_CNT as integer,\n\t\tUPDT_TASK as integer,\n\t\tUPDT_APPLCTX as long,\n\t\tDATA_STATUS_CD as long,\n\t\tDATA_STATUS_PRSNL_ID as integer,\n\t\tACTIVE_STATUS_PRSNL_ID as integer,\n\t\tCKI as string,\n\t\tDISPLAY_KEY_NLS as string,\n\t\tCONCEPT_CKI as string,\n\t\tDISPLAY_KEY_A_NLS as string,\n\t\tLAST_UTC_TS as timestamp,\n\t\tTXN_ID_TEXT as string,\n\t\tCLU_SUBKEY1_FLAG as boolean,\n\t\tACTIVE_DT_TM as timestamp,\n\t\tBEGIN_EFFECTIVE_DT_TM as timestamp,\n\t\tDATA_STATUS_DT_TM as timestamp,\n\t\tUPDT_DT_TM as timestamp,\n\t\tINACTIVE_DT_TM as timestamp,\n\t\tEND_EFFECTIVE_DT_TM as timestamp,\n\t\tINST_ID as integer,\n\t\tDW_Refresh_DT_TM as timestamp\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false) ~> normalcyMethod\nsource(output(\n\t\tCODE_VALUE as long,\n\t\tCODE_SET as integer,\n\t\tCDF_MEANING as string,\n\t\tDISPLAY as string,\n\t\tDISPLAY_KEY as string,\n\t\tDESCRIPTION as string,\n\t\tDEFINITION as string,\n\t\tCOLLATION_SEQ as integer,\n\t\tACTIVE_TYPE_CD as long,\n\t\tACTIVE_IND as boolean,\n\t\tUPDT_ID as integer,\n\t\tUPDT_CNT as integer,\n\t\tUPDT_TASK as integer,\n\t\tUPDT_APPLCTX as long,\n\t\tDATA_STATUS_CD as long,\n\t\tDATA_STATUS_PRSNL_ID as integer,\n\t\tACTIVE_STATUS_PRSNL_ID as integer,\n\t\tCKI as string,\n\t\tDISPLAY_KEY_NLS as string,\n\t\tCONCEPT_CKI as string,\n\t\tDISPLAY_KEY_A_NLS as string,\n\t\tLAST_UTC_TS as timestamp,\n\t\tTXN_ID_TEXT as string,\n\t\tCLU_SUBKEY1_FLAG as boolean,\n\t\tACTIVE_DT_TM as timestamp,\n\t\tBEGIN_EFFECTIVE_DT_TM as timestamp,\n\t\tDATA_STATUS_DT_TM as timestamp,\n\t\tUPDT_DT_TM as timestamp,\n\t\tINACTIVE_DT_TM as timestamp,\n\t\tEND_EFFECTIVE_DT_TM as timestamp,\n\t\tINST_ID as integer,\n\t\tDW_Refresh_DT_TM as timestamp\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false) ~> eventRelationship\nsource(output(\n\t\tCODE_VALUE as long,\n\t\tCODE_SET as integer,\n\t\tCDF_MEANING as string,\n\t\tDISPLAY as string,\n\t\tDISPLAY_KEY as string,\n\t\tDESCRIPTION as string,\n\t\tDEFINITION as string,\n\t\tCOLLATION_SEQ as integer,\n\t\tACTIVE_TYPE_CD as long,\n\t\tACTIVE_IND as boolean,\n\t\tUPDT_ID as integer,\n\t\tUPDT_CNT as integer,\n\t\tUPDT_TASK as integer,\n\t\tUPDT_APPLCTX as long,\n\t\tDATA_STATUS_CD as long,\n\t\tDATA_STATUS_PRSNL_ID as integer,\n\t\tACTIVE_STATUS_PRSNL_ID as integer,\n\t\tCKI as string,\n\t\tDISPLAY_KEY_NLS as string,\n\t\tCONCEPT_CKI as string,\n\t\tDISPLAY_KEY_A_NLS as string,\n\t\tLAST_UTC_TS as timestamp,\n\t\tTXN_ID_TEXT as string,\n\t\tCLU_SUBKEY1_FLAG as boolean,\n\t\tACTIVE_DT_TM as timestamp,\n\t\tBEGIN_EFFECTIVE_DT_TM as timestamp,\n\t\tDATA_STATUS_DT_TM as timestamp,\n\t\tUPDT_DT_TM as timestamp,\n\t\tINACTIVE_DT_TM as timestamp,\n\t\tEND_EFFECTIVE_DT_TM as timestamp,\n\t\tINST_ID as integer,\n\t\tDW_Refresh_DT_TM as timestamp\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false) ~> recordStatus\nsource(output(\n\t\tCODE_VALUE as long,\n\t\tCODE_SET as integer,\n\t\tCDF_MEANING as string,\n\t\tDISPLAY as string,\n\t\tDISPLAY_KEY as string,\n\t\tDESCRIPTION as string,\n\t\tDEFINITION as string,\n\t\tCOLLATION_SEQ as integer,\n\t\tACTIVE_TYPE_CD as long,\n\t\tACTIVE_IND as boolean,\n\t\tUPDT_ID as integer,\n\t\tUPDT_CNT as integer,\n\t\tUPDT_TASK as integer,\n\t\tUPDT_APPLCTX as long,\n\t\tDATA_STATUS_CD as long,\n\t\tDATA_STATUS_PRSNL_ID as integer,\n\t\tACTIVE_STATUS_PRSNL_ID as integer,\n\t\tCKI as string,\n\t\tDISPLAY_KEY_NLS as string,\n\t\tCONCEPT_CKI as string,\n\t\tDISPLAY_KEY_A_NLS as string,\n\t\tLAST_UTC_TS as timestamp,\n\t\tTXN_ID_TEXT as string,\n\t\tCLU_SUBKEY1_FLAG as boolean,\n\t\tACTIVE_DT_TM as timestamp,\n\t\tBEGIN_EFFECTIVE_DT_TM as timestamp,\n\t\tDATA_STATUS_DT_TM as timestamp,\n\t\tUPDT_DT_TM as timestamp,\n\t\tINACTIVE_DT_TM as timestamp,\n\t\tEND_EFFECTIVE_DT_TM as timestamp,\n\t\tINST_ID as integer,\n\t\tDW_Refresh_DT_TM as timestamp\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false) ~> resourceGroup\nsource(output(\n\t\tCODE_VALUE as long,\n\t\tCODE_SET as integer,\n\t\tCDF_MEANING as string,\n\t\tDISPLAY as string,\n\t\tDISPLAY_KEY as string,\n\t\tDESCRIPTION as string,\n\t\tDEFINITION as string,\n\t\tCOLLATION_SEQ as integer,\n\t\tACTIVE_TYPE_CD as long,\n\t\tACTIVE_IND as boolean,\n\t\tUPDT_ID as integer,\n\t\tUPDT_CNT as integer,\n\t\tUPDT_TASK as integer,\n\t\tUPDT_APPLCTX as long,\n\t\tDATA_STATUS_CD as long,\n\t\tDATA_STATUS_PRSNL_ID as integer,\n\t\tACTIVE_STATUS_PRSNL_ID as integer,\n\t\tCKI as string,\n\t\tDISPLAY_KEY_NLS as string,\n\t\tCONCEPT_CKI as string,\n\t\tDISPLAY_KEY_A_NLS as string,\n\t\tLAST_UTC_TS as timestamp,\n\t\tTXN_ID_TEXT as string,\n\t\tCLU_SUBKEY1_FLAG as boolean,\n\t\tACTIVE_DT_TM as timestamp,\n\t\tBEGIN_EFFECTIVE_DT_TM as timestamp,\n\t\tDATA_STATUS_DT_TM as timestamp,\n\t\tUPDT_DT_TM as timestamp,\n\t\tINACTIVE_DT_TM as timestamp,\n\t\tEND_EFFECTIVE_DT_TM as timestamp,\n\t\tINST_ID as integer,\n\t\tDW_Refresh_DT_TM as timestamp\n\t),\n\tallowSchemaDrift: false,\n\tvalidateSchema: false) ~> resource\nclinicalevent, SelectUpdatePrsnl join(PERSON_ID == UPDATE_PERSON_ID,\n\tjoinType:'inner',\n\tbroadcast: 'none')~> cePrsnlUpdatePersonnel\ncePrsnlUpdatePersonnel, SelectPerformingPrsnl join(PERFORMED_PRSNL_ID == PERFORMING_PERSON_ID,\n\tjoinType:'inner',\n\tbroadcast: 'none')~> cePrsnlPerformingPersonnel\ncePrsnlVerifiedPersonnel, SelectEventClass join(EVENT_CD == CODE_VALUE,\n\tjoinType:'inner',\n\tbroadcast: 'none')~> ceEventCode\neventClass filter(CODE_SET == 72 && ACTIVE_IND) ~> eventClassFilter\neventClassDesc filter(CODE_SET == 53 && ACTIVE_IND) ~> eventClassDescFilter\neventClassDescFilter select(mapColumn(\n\t\tCODE_VALUE,\n\t\tDESCRIPTION\n\t)) ~> SelectEventClassDesc\nceEventCode, SelectEventClassDesc join(EVENT_CLASS_CD == SelectEventClassDesc@CODE_VALUE,\n\tjoinType:'inner',\n\tbroadcast: 'none')~> ceEventClassDesc\nceResource select(mapColumn(\n\t\tCLINICAL_EVENT_ID,\n\t\tCerner_Encounter_ID = ENCNTR_ID,\n\t\tCerner_Patient_ID = PERSON_ID,\n\t\tCerner_ENCNTR_FINANCIAL_ID = ENCNTR_FINANCIAL_ID,\n\t\tEVENT_ID,\n\t\tEVENT_TITLE_TEXT,\n\t\tVIEW_LEVEL,\n\t\tORDER_ID,\n\t\tCATALOG_CD,\n\t\tACCESSION_NBR,\n\t\tCONTRIBUTOR_SYSTEM_CD,\n\t\tPARENT_EVENT_ID,\n\t\tEVENT_RELTN_CD,\n\t\tEVENT_CLASS_CD,\n\t\tEVENT_CD,\n\t\tEVENT_TAG,\n\t\tEVENT_END_DT_TM_OS,\n\t\tRESULT_VAL,\n\t\tRESULT_UNITS_CD,\n\t\tRESULT_TIME_UNITS_CD,\n\t\tTASK_ASSAY_CD,\n\t\tRECORD_STATUS_CD,\n\t\tRESULT_STATUS_CD,\n\t\tAUTHENTIC_FLAG,\n\t\tPUBLISH_FLAG,\n\t\tQC_REVIEW_CD,\n\t\tNORMALCY_CD,\n\t\tNORMALCY_METHOD_CD,\n\t\tRESOURCE_GROUP_CD,\n\t\tRESOURCE_CD,\n\t\tSUBTABLE_BIT_MAP,\n\t\tCOLLATING_SEQ,\n\t\tVERIFIED_PRSNL_ID,\n\t\tPERFORMED_PRSNL_ID,\n\t\tce_UPDT_ID = UPDT_ID,\n\t\tce_UPDT_TASK = UPDT_TASK,\n\t\tce_UPDT_CNT = UPDT_CNT,\n\t\tce_UPDT_APPLCTX = UPDT_APPLCTX,\n\t\tNORMAL_LOW,\n\t\tNORMAL_HIGH,\n\t\tCRITICAL_LOW,\n\t\tCRITICAL_HIGH,\n\t\tEVENT_TAG_SET_FLAG,\n\t\tNOTE_IMPORTANCE_BIT_MAP,\n\t\tORDER_ACTION_SEQUENCE,\n\t\tENTRY_MODE_CD,\n\t\tSOURCE_CD,\n\t\tCLINICAL_SEQ,\n\t\tEVENT_END_TZ,\n\t\tEVENT_START_TZ,\n\t\tPERFORMED_TZ,\n\t\tVERIFIED_TZ,\n\t\tTASK_ASSAY_VERSION_NBR,\n\t\tMODIFIER_LONG_TEXT_ID,\n\t\tSRC_EVENT_ID,\n\t\tCE_DYNAMIC_LABEL_ID,\n\t\tNOMEN_STRING_FLAG,\n\t\tce_LAST_UTC_TS = LAST_UTC_TS,\n\t\tDEVICE_FREE_TXT,\n\t\tTRAIT_BIT_MAP,\n\t\tVALID_UNTIL_DT_TM,\n\t\tVERIFIED_DT_TM,\n\t\tVALID_FROM_DT_TM,\n\t\tce_UPDT_DT_TM = UPDT_DT_TM,\n\t\tSRC_CLINSIG_UPDT_DT_TM,\n\t\tPERFORMED_DT_TM,\n\t\tEXPIRATION_DT_TM,\n\t\tEVENT_START_DT_TM,\n\t\tEVENT_END_DT_TM,\n\t\tCLINSIG_UPDT_DT_TM,\n\t\tUPDATE_PERSONNEL,\n\t\tVERIFIED_PERSONNEL,\n\t\tPERFORMING_PERSONNEL,\n\t\tDISPLAY_EVENT = DISPLAY,\n\t\tCODE_VALUE = SelectEventClassDesc@CODE_VALUE,\n\t\tDESCRIPTION = SelectEventClassDesc@DESCRIPTION,\n\t\tRESULT_UNIT_DISPLAY,\n\t\tRESULT_TIME_UNIT_DISPLAY,\n\t\tRESULT_STATUS_DISPLAY,\n\t\tCONTRIBUTOR_SYSTEM_DISPLAY,\n\t\tENTRY_MODE_DISPLAY = EVENT_ENTRY_MODE_DISPLAY,\n\t\tRESULT_SOURCE_DISPLAY,\n\t\tNORMALCY_DISPLAY,\n\t\tNORMALCY_METHOD_DISPLAY,\n\t\tEVENT_RELATIONSHIP_DISPLAY,\n\t\tRECORD_STATUS_DISPLAY,\n\t\tRESOURCE_GROUP_DISPLAY,\n\t\tRESOURCE_DISPLAY\n\t)) ~> MainSelect\neventClassFilter select(mapColumn(\n\t\tCODE_VALUE,\n\t\tCODE_SET,\n\t\tCDF_MEANING,\n\t\tDISPLAY,\n\t\tDISPLAY_KEY,\n\t\tDESCRIPTION,\n\t\tDEFINITION\n\t)) ~> SelectEventClass\nverifiedPrsnl select(mapColumn(\n\t\tVERIFIED_PERSON_ID = PERSON_ID,\n\t\tVERIFIED_PERSONNEL = NAME_FULL_FORMATTED\n\t)) ~> SelectVerifiedPrsnl\nupdatePrsnl select(mapColumn(\n\t\tUPDATE_PERSON_ID = PERSON_ID,\n\t\tUPDATE_PERSONNEL = NAME_FULL_FORMATTED\n\t)) ~> SelectUpdatePrsnl\nperformingPrsnl select(mapColumn(\n\t\tPERFORMING_PERSON_ID = PERSON_ID,\n\t\tPERFORMING_PERSONNEL = NAME_FULL_FORMATTED\n\t)) ~> SelectPerformingPrsnl\ncePrsnlPerformingPersonnel, SelectVerifiedPrsnl join(VERIFIED_PRSNL_ID == VERIFIED_PERSON_ID,\n\tjoinType:'inner',\n\tbroadcast: 'none')~> cePrsnlVerifiedPersonnel\nresultUnit filter(CODE_SET == 54 && ACTIVE_IND) ~> resultUnitFilter\nresultUnitFilter select(mapColumn(\n\t\tRESULT_UNIT_CODE_VALUE = CODE_VALUE,\n\t\tRESULT_UNIT_DISPLAY = DISPLAY\n\t)) ~> SelectResultUnit\nceEventClassDesc, SelectResultUnit join(RESULT_UNITS_CD == RESULT_UNIT_CODE_VALUE,\n\tjoinType:'inner',\n\tbroadcast: 'none')~> ceResultUnit\nresultTimeUnit filter(CODE_SET == 54 && ACTIVE_IND) ~> resultTimeUnitFilter\nresultTimeUnitFilter select(mapColumn(\n\t\tRESULT_TIME_UNIT_CODE_VALUE = CODE_VALUE,\n\t\tRESULT_TIME_UNIT_DISPLAY = DISPLAY\n\t)) ~> SelectResultTimeUnit\nceResultUnit, SelectResultTimeUnit join(RESULT_TIME_UNITS_CD == RESULT_TIME_UNIT_CODE_VALUE,\n\tjoinType:'inner',\n\tbroadcast: 'none')~> ceResultTimeUnit\nresultStatus filter(CODE_SET == 8 && ACTIVE_IND) ~> resultStatusFilter\nresultStatusFilter select(mapColumn(\n\t\tRESULT_STATUS_CODE_VALUE = CODE_VALUE,\n\t\tRESULT_STATUS_DISPLAY = DISPLAY\n\t)) ~> SelectResultStatus\nceResultTimeUnit, SelectResultStatus join(RESULT_STATUS_CD == RESULT_STATUS_CODE_VALUE,\n\tjoinType:'inner',\n\tbroadcast: 'none')~> ceResultStatus\ncontributorSystem filter(CODE_SET == 89 && ACTIVE_IND) ~> contributorSystemFilter\ncontributorSystemFilter select(mapColumn(\n\t\tCONTRIBUTOR_SYSTEM_CODE_VALUE = CODE_VALUE,\n\t\tCONTRIBUTOR_SYSTEM_DISPLAY = DISPLAY\n\t)) ~> SelectContributorSystem\nceResultStatus, SelectContributorSystem join(CONTRIBUTOR_SYSTEM_CD == CONTRIBUTOR_SYSTEM_CODE_VALUE,\n\tjoinType:'inner',\n\tbroadcast: 'none')~> ceContributorSystem\nentryMode filter(CODE_SET == 29520 && ACTIVE_IND) ~> entryModeFilter\nentryModeFilter select(mapColumn(\n\t\tEVENT_ENTRY_MODE_CODE_VALUE = CODE_VALUE,\n\t\tEVENT_ENTRY_MODE_DISPLAY = DISPLAY\n\t)) ~> SelectEntryMode\nceContributorSystem, SelectEntryMode join(ENTRY_MODE_CD == EVENT_ENTRY_MODE_CODE_VALUE,\n\tjoinType:'inner',\n\tbroadcast: 'none')~> ceEntryMode\nresultSource filter(CODE_SET == 30200 && ACTIVE_IND) ~> resultSourceFilter\nresultSourceFilter select(mapColumn(\n\t\tRESULT_SOURCE_CODE_VALUE = CODE_VALUE,\n\t\tRESULT_SOURCE_DISPLAY = DISPLAY\n\t)) ~> SelectResultSource\nceEntryMode, SelectResultSource join(SOURCE_CD == RESULT_SOURCE_CODE_VALUE,\n\tjoinType:'inner',\n\tbroadcast: 'none')~> ceResultSource\nnormalcy filter(CODE_SET == 52 && ACTIVE_IND) ~> normalcyFilter\nnormalcyFilter select(mapColumn(\n\t\tNORMALCY_CODE_VALUE = CODE_VALUE,\n\t\tNORMALCY_DISPLAY = DISPLAY\n\t)) ~> SelectNormalcy\nceResultSource, SelectNormalcy join(NORMALCY_CD == NORMALCY_CODE_VALUE,\n\tjoinType:'inner',\n\tbroadcast: 'none')~> ceNormalcy\nnormalcyMethod filter(CODE_SET == 50 && ACTIVE_IND) ~> normalcyMethodFilter\nnormalcyMethodFilter select(mapColumn(\n\t\tNORMALCY_METHOD_CODE_VALUE = CODE_VALUE,\n\t\tNORMALCY_METHOD_DISPLAY = DISPLAY\n\t)) ~> SelectNormalcyMethod\nceNormalcy, SelectNormalcyMethod join(NORMALCY_METHOD_CD == NORMALCY_METHOD_CODE_VALUE,\n\tjoinType:'inner',\n\tbroadcast: 'none')~> ceNormalcyMethod\neventRelationship filter(CODE_SET == 24 && ACTIVE_IND) ~> eventRelationshipFilter\neventRelationshipFilter select(mapColumn(\n\t\tEVENT_RELATIONSHIP_CODE_VALUE = CODE_VALUE,\n\t\tEVENT_RELATIONSHIP_DISPLAY = DISPLAY\n\t)) ~> SelectEventRelationship\nceNormalcyMethod, SelectEventRelationship join(EVENT_RELTN_CD == EVENT_RELATIONSHIP_CODE_VALUE,\n\tjoinType:'inner',\n\tbroadcast: 'none')~> ceEventRelationship\nrecordStatus filter(CODE_SET == 48 && ACTIVE_IND) ~> recordStatusFilter\nrecordStatusFilter select(mapColumn(\n\t\tRECORD_STATUS_CODE_VALUE = CODE_VALUE,\n\t\tRECORD_STATUS_DISPLAY = DISPLAY\n\t)) ~> SelectRecordStatus\nceEventRelationship, SelectRecordStatus join(RECORD_STATUS_CD == RECORD_STATUS_CODE_VALUE,\n\tjoinType:'inner',\n\tbroadcast: 'none')~> ceRecordStatus\nresourceGroup filter(CODE_SET == 221 && ACTIVE_IND) ~> resourceGroupFilter\nresourceGroupFilter select(mapColumn(\n\t\tRESOURCE_GROUP_CODE_VALUE = CODE_VALUE,\n\t\tRESOURCE_GROUP_DISPLAY = DISPLAY\n\t)) ~> SelectResourceGroup\nceRecordStatus, SelectResourceGroup join(RESOURCE_GROUP_CD == RESOURCE_GROUP_CODE_VALUE,\n\tjoinType:'inner',\n\tbroadcast: 'none')~> ceResourceGroup\nresource filter(CODE_SET == 221 && ACTIVE_IND) ~> resourceFilter\nresourceFilter select(mapColumn(\n\t\tRESOURCE_CODE_VALUE = CODE_VALUE,\n\t\tRESOURCE_DISPLAY = DISPLAY\n\t)) ~> SelectResource\nceResourceGroup, SelectResource join(RESOURCE_CD == RESOURCE_CODE_VALUE,\n\tjoinType:'inner',\n\tbroadcast: 'none')~> ceResource\nMainSelect sink(allowSchemaDrift: true,\n\tvalidateSchema: false) ~> VitalsSink"
				}
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/VitalsQueryPipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "VitalsQuery",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "ParallelDataCopy",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "VitalsQuery",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"clinicalevent": {},
									"updatePrsnl": {},
									"verifiedPrsnl": {},
									"performingPrsnl": {},
									"eventClass": {},
									"eventClassDesc": {},
									"resultUnit": {},
									"resultTimeUnit": {},
									"resultStatus": {},
									"contributorSystem": {},
									"entryMode": {},
									"resultSource": {},
									"normalcy": {},
									"normalcyMethod": {},
									"eventRelationship": {},
									"recordStatus": {},
									"resourceGroup": {},
									"resource": {},
									"VitalsSink": {}
								}
							},
							"staging": {}
						}
					},
					{
						"name": "ListofSourceTables",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT * FROM dbo.[tablesToStage] WHERE UPPER(sourceDB) = 'ORACLE' and incrementalCopyFlag = 1"
							},
							"dataset": {
								"referenceName": "SourceTableList",
								"type": "DatasetReference",
								"parameters": {}
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ParallelDataCopy",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "ListofSourceTables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('ListofSourceTables').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "LogExecutionStart",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[logExecutionStart]",
										"storedProcedureParameters": {
											"pipelineRunID": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"pipelineRunStartTime": {
												"value": {
													"value": "@pipeline().TriggerTime",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"stageTableID": {
												"value": {
													"value": "@item().stageTableID",
													"type": "Expression"
												},
												"type": "Int32"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "PilotAzureSqlDatabase",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Stage Data",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "LogExecutionStart",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "OracleSource",
											"oracleReaderQuery": {
												"value": "@{item().srcQuery}",
												"type": "Expression"
											},
											"partitionOption": "None"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings",
												"maxConcurrentConnections": 16
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "ParallelDataStagingOracle",
											"type": "DatasetReference",
											"parameters": {}
										}
									],
									"outputs": [
										{
											"referenceName": "StagingData",
											"type": "DatasetReference",
											"parameters": {
												"TableName": {
													"value": "@{replace(item().schemaName, ' ','')}_@{replace(item().tableName, ' ','')}",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "SuccessSP",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Stage Data",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[logExecutionEnd]",
										"storedProcedureParameters": {
											"pipelineRunEndTime": {
												"value": {
													"value": "@{utcnow()}",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"pipelineRunID": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"pipelineRunStatus": {
												"value": "Success",
												"type": "String"
											},
											"stageTableID": {
												"value": {
													"value": "@{item().stageTableID}",
													"type": "Expression"
												},
												"type": "Int32"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "PilotAzureSqlDatabase",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "FailureSP",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Stage Data",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[logExecutionEnd]",
										"storedProcedureParameters": {
											"pipelineRunEndTime": {
												"value": {
													"value": "@{utcnow()}",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"pipelineRunID": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"pipelineRunStatus": {
												"value": "Failure",
												"type": "String"
											},
											"stageTableID": {
												"value": {
													"value": "@{item().stageTableID}",
													"type": "Expression"
												},
												"type": "Int32"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "PilotAzureSqlDatabase",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/VitalsQuery')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/VitalsQueryPipelineTest')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "VitalsQuery",
						"type": "ExecuteDataFlow",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "VitalsQueryTest",
								"type": "DataFlowReference",
								"parameters": {},
								"datasetParameters": {
									"clinicalevent": {},
									"updatePrsnl": {},
									"verifiedPrsnl": {},
									"performingPrsnl": {},
									"eventClass": {},
									"eventClassDesc": {},
									"resultUnit": {},
									"resultTimeUnit": {},
									"resultStatus": {},
									"contributorSystem": {},
									"entryMode": {},
									"resultSource": {},
									"normalcy": {},
									"normalcyMethod": {},
									"eventRelationship": {},
									"recordStatus": {},
									"resourceGroup": {},
									"resource": {},
									"VitalsSink": {}
								}
							},
							"staging": {}
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/dataflows/VitalsQueryTest')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/IncrementalMillenniumLoad')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Daily run of tables from dbo.tablesToStage where incrementalCopyFlag = 1",
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "VitalsQueryPipeline",
							"type": "PipelineReference"
						},
						"parameters": {}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2019-09-12T05:00:00.000Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/VitalsQueryPipeline')]"
			]
		}
	]
}