pipeline/CopyIdxDataNoShow.json
{
	"name": "CopyIdxDataNoShow",
	"properties": {
		"activities": [
			{
				"name": "CopyDailySched",
				"description": "Copy daily scheduling data",
				"type": "Copy",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource"
					},
					"sink": {
						"type": "ParquetSink",
						"storeSettings": {
							"type": "AzureBlobStorageWriteSettings"
						}
					},
					"enableStaging": false
				},
				"inputs": [
					{
						"referenceName": "SourceDailySched",
						"type": "DatasetReference"
					}
				],
				"outputs": [
					{
						"referenceName": "StagedData",
						"type": "DatasetReference",
						"parameters": {
							"TableName": "UMC_Scheduling_Daily"
						}
					}
				]
			},
			{
				"name": "Lookup_IdxAnalyzer_Tables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "select TABLE_NAME from INFORMATION_SCHEMA.TABLES\nwhere TABLE_CATALOG = 'idxAnalyzer'"
					},
					"dataset": {
						"referenceName": "Haldb_Test",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "Filter1",
				"type": "Filter",
				"dependsOn": [
					{
						"activity": "Lookup_IdxAnalyzer_Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_IdxAnalyzer_Tables').output",
						"type": "Expression"
					},
					"condition": ""
				}
			}
		],
		"annotations": []
	}
}