pipeline/CopyIdxDataNoShow.json
{
	"name": "CopyIdxDataNoShow",
	"properties": {
		"activities": [
			{
				"name": "Lookup_IdxAnalyzer_Tables",
				"type": "Lookup",
				"dependsOn": [],
				"policy": {
					"timeout": "7.00:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"source": {
						"type": "SqlServerSource",
						"sqlReaderQuery": "select TABLE_NAME from INFORMATION_SCHEMA.TABLES\nwhere TABLE_CATALOG = 'idxAnalyzer'\nand TABLE_NAME in ('UMC_Scheduling_Daily','C_Scheduling_Departments','C_Patient_Azure','C_Scheduling_Providers', 'C_Scheduling_Locations')"
					},
					"dataset": {
						"referenceName": "Haldb_Test",
						"type": "DatasetReference"
					},
					"firstRowOnly": false
				}
			},
			{
				"name": "ForEach_IdxData",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Lookup_IdxAnalyzer_Tables",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Lookup_IdxAnalyzer_Tables').output.value",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "Copy_Tables_To_Blob",
							"type": "Copy",
							"dependsOn": [],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"source": {
									"type": "SqlServerSource",
									"sqlReaderQuery": {
										"value": "select * from @{item().TABLE_NAME}",
										"type": "Expression"
									}
								},
								"sink": {
									"type": "ParquetSink",
									"storeSettings": {
										"type": "AzureBlobStorageWriteSettings"
									}
								},
								"enableStaging": false,
								"enableSkipIncompatibleRow": false
							},
							"inputs": [
								{
									"referenceName": "Haldb_Test",
									"type": "DatasetReference"
								}
							],
							"outputs": [
								{
									"referenceName": "StagedData",
									"type": "DatasetReference",
									"parameters": {
										"TableName": {
											"value": "idxAnalyzer/@{item().TABLE_NAME}",
											"type": "Expression"
										}
									}
								}
							]
						},
						{
							"name": "Delete_Old_Files",
							"description": "Cleans up directory by removing all files in directory that weren't copied when the pipeline started (15 mins)",
							"type": "Delete",
							"dependsOn": [
								{
									"activity": "Copy_Tables_To_Blob",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"timeout": "7.00:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "StagedData",
									"type": "DatasetReference",
									"parameters": {
										"TableName": "idxAnalyzer/@{item().TABLE_NAME}"
									}
								},
								"logStorageSettings": {
									"linkedServiceName": {
										"referenceName": "PilotBlobStorage",
										"type": "LinkedServiceReference"
									},
									"path": "logsdeletedfiles"
								},
								"enableLogging": true,
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"modifiedDatetimeEnd": {
										"value": "@{addminutes(pipeline().TriggerTime, -15)}",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}