IngestionDataFactoryCentral/PartialArmTemplates/ArmTemplate_9_12_2019_17_13_34.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "IngestionDataFactoryCentral"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/VitalsQueryPipeline')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "VitalsQuery",
						"type": "ExecuteDataFlow",
						"dependsOn": [
							{
								"activity": "ParallelDataCopy",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"dataflow": {
								"referenceName": "VitalsQuery",
								"type": "DataFlowReference"
							}
						}
					},
					{
						"name": "ListofSourceTables",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT * FROM dbo.[tablesToStage] WHERE UPPER(sourceDB) = 'ORACLE' and incrementalCopyFlag = 1"
							},
							"dataset": {
								"referenceName": "SourceTableList",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ParallelDataCopy",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "ListofSourceTables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('ListofSourceTables').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "LogExecutionStart",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[logExecutionStart]",
										"storedProcedureParameters": {
											"pipelineRunID": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"pipelineRunStartTime": {
												"value": {
													"value": "@pipeline().TriggerTime",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"stageTableID": {
												"value": {
													"value": "@item().stageTableID",
													"type": "Expression"
												},
												"type": "Int32"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "PilotAzureSqlDatabase",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Stage Data",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "LogExecutionStart",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "OracleSource",
											"oracleReaderQuery": {
												"value": "@{item().srcQuery}",
												"type": "Expression"
											},
											"partitionOption": "None"
										},
										"sink": {
											"type": "ParquetSink",
											"storeSettings": {
												"type": "AzureBlobStorageWriteSettings",
												"maxConcurrentConnections": 16
											}
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "ParallelDataStagingOracle",
											"type": "DatasetReference"
										}
									],
									"outputs": [
										{
											"referenceName": "StagingData",
											"type": "DatasetReference",
											"parameters": {
												"TableName": {
													"value": "@{replace(item().schemaName, ' ','')}_@{replace(item().tableName, ' ','')}",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "SuccessSP",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Stage Data",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[logExecutionEnd]",
										"storedProcedureParameters": {
											"pipelineRunEndTime": {
												"value": {
													"value": "@{utcnow()}",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"pipelineRunID": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"pipelineRunStatus": {
												"value": "Success",
												"type": "String"
											},
											"stageTableID": {
												"value": {
													"value": "@{item().stageTableID}",
													"type": "Expression"
												},
												"type": "Int32"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "PilotAzureSqlDatabase",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "FailureSP",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Stage Data",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[logExecutionEnd]",
										"storedProcedureParameters": {
											"pipelineRunEndTime": {
												"value": {
													"value": "@{utcnow()}",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"pipelineRunID": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"pipelineRunStatus": {
												"value": "Failure",
												"type": "String"
											},
											"stageTableID": {
												"value": {
													"value": "@{item().stageTableID}",
													"type": "Expression"
												},
												"type": "Int32"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "PilotAzureSqlDatabase",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/StagedClinicalEvent')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "PilotBlobStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": {
							"value": "V500_CLINICAL_EVENT/@{formatDateTime(utcnow(),'yyyy-MM-dd')}",
							"type": "Expression"
						},
						"container": "staginglz"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "CLINICAL_EVENT_ID",
						"type": "DOUBLE"
					},
					{
						"name": "ENCNTR_ID",
						"type": "DOUBLE"
					},
					{
						"name": "PERSON_ID",
						"type": "DOUBLE"
					},
					{
						"name": "UTC_TMP2_4",
						"type": "INT96"
					},
					{
						"name": "ENCNTR_FINANCIAL_ID",
						"type": "DOUBLE"
					},
					{
						"name": "EVENT_ID",
						"type": "DOUBLE"
					},
					{
						"name": "UTC_TMP2_7",
						"type": "INT96"
					},
					{
						"name": "EVENT_TITLE_TEXT",
						"type": "UTF8"
					},
					{
						"name": "VIEW_LEVEL",
						"type": "DOUBLE"
					},
					{
						"name": "ORDER_ID",
						"type": "DOUBLE"
					},
					{
						"name": "CATALOG_CD",
						"type": "DOUBLE"
					},
					{
						"name": "SERIES_REF_NBR",
						"type": "UTF8"
					},
					{
						"name": "ACCESSION_NBR",
						"type": "UTF8"
					},
					{
						"name": "CONTRIBUTOR_SYSTEM_CD",
						"type": "DOUBLE"
					},
					{
						"name": "REFERENCE_NBR",
						"type": "UTF8"
					},
					{
						"name": "PARENT_EVENT_ID",
						"type": "DOUBLE"
					},
					{
						"name": "EVENT_RELTN_CD",
						"type": "DOUBLE"
					},
					{
						"name": "UTC_TMP2_18",
						"type": "INT96"
					},
					{
						"name": "EVENT_CLASS_CD",
						"type": "DOUBLE"
					},
					{
						"name": "EVENT_CD",
						"type": "DOUBLE"
					},
					{
						"name": "EVENT_TAG",
						"type": "UTF8"
					},
					{
						"name": "UTC_TMP2_22",
						"type": "INT96"
					},
					{
						"name": "EVENT_END_DT_TM_OS",
						"type": "DOUBLE"
					},
					{
						"name": "RESULT_VAL",
						"type": "UTF8"
					},
					{
						"name": "RESULT_UNITS_CD",
						"type": "DOUBLE"
					},
					{
						"name": "RESULT_TIME_UNITS_CD",
						"type": "DOUBLE"
					},
					{
						"name": "TASK_ASSAY_CD",
						"type": "DOUBLE"
					},
					{
						"name": "RECORD_STATUS_CD",
						"type": "DOUBLE"
					},
					{
						"name": "RESULT_STATUS_CD",
						"type": "DOUBLE"
					},
					{
						"name": "AUTHENTIC_FLAG",
						"type": "DOUBLE"
					},
					{
						"name": "PUBLISH_FLAG",
						"type": "DOUBLE"
					},
					{
						"name": "QC_REVIEW_CD",
						"type": "DOUBLE"
					},
					{
						"name": "NORMALCY_CD",
						"type": "DOUBLE"
					},
					{
						"name": "NORMALCY_METHOD_CD",
						"type": "DOUBLE"
					},
					{
						"name": "INQUIRE_SECURITY_CD",
						"type": "DOUBLE"
					},
					{
						"name": "RESOURCE_GROUP_CD",
						"type": "DOUBLE"
					},
					{
						"name": "RESOURCE_CD",
						"type": "DOUBLE"
					},
					{
						"name": "SUBTABLE_BIT_MAP",
						"type": "DOUBLE"
					},
					{
						"name": "COLLATING_SEQ",
						"type": "UTF8"
					},
					{
						"name": "UTC_TMP2_40",
						"type": "INT96"
					},
					{
						"name": "VERIFIED_PRSNL_ID",
						"type": "DOUBLE"
					},
					{
						"name": "UTC_TMP2_42",
						"type": "INT96"
					},
					{
						"name": "PERFORMED_PRSNL_ID",
						"type": "DOUBLE"
					},
					{
						"name": "UTC_TMP2_44",
						"type": "INT96"
					},
					{
						"name": "UPDT_ID",
						"type": "DOUBLE"
					},
					{
						"name": "UPDT_TASK",
						"type": "DOUBLE"
					},
					{
						"name": "UPDT_CNT",
						"type": "DOUBLE"
					},
					{
						"name": "UPDT_APPLCTX",
						"type": "DOUBLE"
					},
					{
						"name": "NORMAL_LOW",
						"type": "UTF8"
					},
					{
						"name": "NORMAL_HIGH",
						"type": "UTF8"
					},
					{
						"name": "CRITICAL_LOW",
						"type": "UTF8"
					},
					{
						"name": "CRITICAL_HIGH",
						"type": "UTF8"
					},
					{
						"name": "UTC_TMP2_53",
						"type": "INT96"
					},
					{
						"name": "EVENT_TAG_SET_FLAG",
						"type": "DOUBLE"
					},
					{
						"name": "NOTE_IMPORTANCE_BIT_MAP",
						"type": "DOUBLE"
					},
					{
						"name": "UTC_TMP2_56",
						"type": "INT96"
					},
					{
						"name": "ORDER_ACTION_SEQUENCE",
						"type": "DOUBLE"
					},
					{
						"name": "ENTRY_MODE_CD",
						"type": "DOUBLE"
					},
					{
						"name": "SOURCE_CD",
						"type": "DOUBLE"
					},
					{
						"name": "CLINICAL_SEQ",
						"type": "UTF8"
					},
					{
						"name": "EVENT_END_TZ",
						"type": "DOUBLE"
					},
					{
						"name": "EVENT_START_TZ",
						"type": "DOUBLE"
					},
					{
						"name": "PERFORMED_TZ",
						"type": "DOUBLE"
					},
					{
						"name": "VERIFIED_TZ",
						"type": "DOUBLE"
					},
					{
						"name": "TASK_ASSAY_VERSION_NBR",
						"type": "DOUBLE"
					},
					{
						"name": "MODIFIER_LONG_TEXT_ID",
						"type": "DOUBLE"
					},
					{
						"name": "SRC_EVENT_ID",
						"type": "DOUBLE"
					},
					{
						"name": "UTC_TMP2_68",
						"type": "INT96"
					},
					{
						"name": "CE_DYNAMIC_LABEL_ID",
						"type": "DOUBLE"
					},
					{
						"name": "NOMEN_STRING_FLAG",
						"type": "DOUBLE"
					},
					{
						"name": "LAST_UTC_TS",
						"type": "INT96"
					},
					{
						"name": "DEVICE_FREE_TXT",
						"type": "UTF8"
					},
					{
						"name": "TRAIT_BIT_MAP",
						"type": "DOUBLE"
					},
					{
						"name": "TXN_ID_TEXT",
						"type": "UTF8"
					},
					{
						"name": "CLU_SUBKEY1_FLAG",
						"type": "DOUBLE"
					},
					{
						"name": "VALID_UNTIL_DT_TM",
						"type": "INT96"
					},
					{
						"name": "VERIFIED_DT_TM",
						"type": "INT96"
					},
					{
						"name": "VALID_FROM_DT_TM",
						"type": "INT96"
					},
					{
						"name": "UPDT_DT_TM",
						"type": "INT96"
					},
					{
						"name": "SRC_CLINSIG_UPDT_DT_TM",
						"type": "INT96"
					},
					{
						"name": "PERFORMED_DT_TM",
						"type": "INT96"
					},
					{
						"name": "EXPIRATION_DT_TM",
						"type": "INT96"
					},
					{
						"name": "EVENT_START_DT_TM",
						"type": "INT96"
					},
					{
						"name": "EVENT_END_DT_TM",
						"type": "INT96"
					},
					{
						"name": "CLINSIG_UPDT_DT_TM",
						"type": "INT96"
					},
					{
						"name": "INST_ID",
						"type": "DOUBLE"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/StagedPrsnl')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "PilotBlobStorage",
					"type": "LinkedServiceReference"
				},
				"annotations": [],
				"type": "Parquet",
				"typeProperties": {
					"location": {
						"type": "AzureBlobStorageLocation",
						"folderPath": {
							"value": "V500_PRSNL",
							"type": "Expression"
						},
						"container": "staginglz"
					},
					"compressionCodec": "snappy"
				},
				"schema": [
					{
						"name": "PERSON_ID",
						"type": "INT32"
					},
					{
						"name": "UPDT_CNT",
						"type": "INT32"
					},
					{
						"name": "UPDT_ID",
						"type": "INT32"
					},
					{
						"name": "UPDT_TASK",
						"type": "INT32"
					},
					{
						"name": "UPDT_APPLCTX",
						"type": "INT64"
					},
					{
						"name": "ACTIVE_IND",
						"type": "BOOLEAN"
					},
					{
						"name": "ACTIVE_STATUS_CD",
						"type": "INT64"
					},
					{
						"name": "ACTIVE_STATUS_PRSNL_ID",
						"type": "INT32"
					},
					{
						"name": "CREATE_PRSNL_ID",
						"type": "INT32"
					},
					{
						"name": "NAME_LAST_KEY",
						"type": "UTF8"
					},
					{
						"name": "NAME_FIRST_KEY",
						"type": "UTF8"
					},
					{
						"name": "PRSNL_TYPE_CD",
						"type": "INT64"
					},
					{
						"name": "NAME_FULL_FORMATTED",
						"type": "UTF8"
					},
					{
						"name": "PASSWORD",
						"type": "UTF8"
					},
					{
						"name": "EMAIL",
						"type": "UTF8"
					},
					{
						"name": "PHYSICIAN_IND",
						"type": "BOOLEAN"
					},
					{
						"name": "POSITION_CD",
						"type": "INT64"
					},
					{
						"name": "DEPARTMENT_CD",
						"type": "INT64"
					},
					{
						"name": "FREE_TEXT_IND",
						"type": "BOOLEAN"
					},
					{
						"name": "SECTION_CD",
						"type": "INT64"
					},
					{
						"name": "DATA_STATUS_CD",
						"type": "INT64"
					},
					{
						"name": "DATA_STATUS_PRSNL_ID",
						"type": "INT32"
					},
					{
						"name": "CONTRIBUTOR_SYSTEM_CD",
						"type": "INT64"
					},
					{
						"name": "NAME_LAST",
						"type": "UTF8"
					},
					{
						"name": "NAME_FIRST",
						"type": "UTF8"
					},
					{
						"name": "USERNAME",
						"type": "UTF8"
					},
					{
						"name": "FT_ENTITY_NAME",
						"type": "UTF8"
					},
					{
						"name": "FT_ENTITY_ID",
						"type": "INT32"
					},
					{
						"name": "PRIM_ASSIGN_LOC_CD",
						"type": "INT64"
					},
					{
						"name": "LOG_ACCESS_IND",
						"type": "BOOLEAN"
					},
					{
						"name": "LOG_LEVEL",
						"type": "INT32"
					},
					{
						"name": "NAME_FIRST_KEY_NLS",
						"type": "UTF8"
					},
					{
						"name": "NAME_LAST_KEY_NLS",
						"type": "UTF8"
					},
					{
						"name": "PHYSICIAN_STATUS_CD",
						"type": "INT64"
					},
					{
						"name": "LOGICAL_DOMAIN_ID",
						"type": "INT32"
					},
					{
						"name": "LOGICAL_DOMAIN_GRP_ID",
						"type": "INT32"
					},
					{
						"name": "NAME_FIRST_KEY_A_NLS",
						"type": "UTF8"
					},
					{
						"name": "NAME_LAST_KEY_A_NLS",
						"type": "UTF8"
					},
					{
						"name": "LAST_UTC_TS",
						"type": "INT96"
					},
					{
						"name": "EXTERNAL_IND",
						"type": "BOOLEAN"
					},
					{
						"name": "TXN_ID_TEXT",
						"type": "UTF8"
					},
					{
						"name": "ACTIVE_STATUS_DT_TM",
						"type": "INT96"
					},
					{
						"name": "BEG_EFFECTIVE_DT_TM",
						"type": "INT96"
					},
					{
						"name": "CREATE_DT_TM",
						"type": "INT96"
					},
					{
						"name": "DATA_STATUS_DT_TM",
						"type": "INT96"
					},
					{
						"name": "UPDT_DT_TM",
						"type": "INT96"
					},
					{
						"name": "END_EFFECTIVE_DT_TM",
						"type": "INT96"
					},
					{
						"name": "INST_ID",
						"type": "INT32"
					},
					{
						"name": "DW_Refresh_DT_TM",
						"type": "INT96"
					}
				]
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/IncrementalMillenniumLoad')]",
			"type": "Microsoft.DataFactory/factories/triggers",
			"apiVersion": "2018-06-01",
			"properties": {
				"description": "Daily run of tables from dbo.tablesToStage where incrementalCopyFlag = 1",
				"annotations": [],
				"runtimeState": "Started",
				"pipelines": [
					{
						"pipelineReference": {
							"referenceName": "VitalsQueryPipeline",
							"type": "PipelineReference"
						}
					}
				],
				"type": "ScheduleTrigger",
				"typeProperties": {
					"recurrence": {
						"frequency": "Day",
						"interval": 1,
						"startTime": "2019-09-12T05:00:00.000Z",
						"timeZone": "UTC"
					}
				}
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/pipelines/VitalsQueryPipeline')]"
			]
		}
	]
}