IngestionDataFactoryCentral/PartialArmTemplates/ArmTemplate_9_19_2019_15_6_42.json
{
	"$schema": "http://schema.management.azure.com/schemas/2015-01-01/deploymentTemplate.json#",
	"contentVersion": "1.0.0.0",
	"parameters": {
		"factoryName": {
			"type": "string",
			"metadata": "Data Factory Name",
			"defaultValue": "IngestionDataFactoryCentral"
		}
	},
	"variables": {
		"factoryId": "[concat('Microsoft.DataFactory/factories/', parameters('factoryName'))]"
	},
	"resources": [
		{
			"name": "[concat(parameters('factoryName'), '/I2B2DataBlobToSqlServer')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ListofSourceTables",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT * FROM dbo.[tablesToStage] WHERE sourceDB = 'I2B2Data'"
							},
							"dataset": {
								"referenceName": "SourceTableList",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ParallelDataCopy",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "ListofSourceTables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('ListofSourceTables').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "LogExecutionStart",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[logExecutionStart]",
										"storedProcedureParameters": {
											"pipelineRunID": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"pipelineRunStartTime": {
												"value": {
													"value": "@pipeline().TriggerTime",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"stageTableID": {
												"value": {
													"value": "@item().stageTableID",
													"type": "Expression"
												},
												"type": "Int32"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "PilotAzureSqlDatabase",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Stage Data",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "LogExecutionStart",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "ParquetSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"wildcardFileName": "*.parquet",
												"enablePartitionDiscovery": false
											}
										},
										"sink": {
											"type": "AzureSqlSink"
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "StagedData",
											"type": "DatasetReference",
											"parameters": {
												"TableName": {
													"value": "@{replace(item().schemaName, ' ','')}_@{replace(item().tableName, ' ','')}",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "snkI2b2Data",
											"type": "DatasetReference",
											"parameters": {
												"TableName": {
													"value": "@{item().tableName}",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "SuccessSP",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Stage Data",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[logExecutionEnd]",
										"storedProcedureParameters": {
											"pipelineRunEndTime": {
												"value": {
													"value": "@{utcnow()}",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"pipelineRunID": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"pipelineRunStatus": {
												"value": "Success",
												"type": "String"
											},
											"stageTableID": {
												"value": {
													"value": "@{item().stageTableID}",
													"type": "Expression"
												},
												"type": "Int32"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "PilotAzureSqlDatabase",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Failure SP",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Stage Data",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[logExecutionEnd]",
										"storedProcedureParameters": {
											"pipelineRunEndTime": {
												"value": {
													"value": "@{utcnow()}",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"pipelineRunID": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"pipelineRunStatus": {
												"value": "Failure",
												"type": "String"
											},
											"stageTableID": {
												"value": {
													"value": "@{item().stageTableID}",
													"type": "Expression"
												},
												"type": "Int32"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "PilotAzureSqlDatabase",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"annotations": []
			},
			"dependsOn": []
		},
		{
			"name": "[concat(parameters('factoryName'), '/I2B2DataDIDBlobToSqlServer')]",
			"type": "Microsoft.DataFactory/factories/pipelines",
			"apiVersion": "2018-06-01",
			"properties": {
				"activities": [
					{
						"name": "ListofSourceTables",
						"type": "Lookup",
						"dependsOn": [],
						"policy": {
							"timeout": "7.00:00:00",
							"retry": 0,
							"retryIntervalInSeconds": 30,
							"secureOutput": false,
							"secureInput": false
						},
						"userProperties": [],
						"typeProperties": {
							"source": {
								"type": "AzureSqlSource",
								"sqlReaderQuery": "SELECT * FROM dbo.[tablesToStage] WHERE sourceDB = 'I2B2DataDID'"
							},
							"dataset": {
								"referenceName": "SourceTableList",
								"type": "DatasetReference"
							},
							"firstRowOnly": false
						}
					},
					{
						"name": "ParallelDataCopy",
						"type": "ForEach",
						"dependsOn": [
							{
								"activity": "ListofSourceTables",
								"dependencyConditions": [
									"Succeeded"
								]
							}
						],
						"userProperties": [],
						"typeProperties": {
							"items": {
								"value": "@activity('ListofSourceTables').output.value",
								"type": "Expression"
							},
							"activities": [
								{
									"name": "LogExecutionStart",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[logExecutionStart]",
										"storedProcedureParameters": {
											"pipelineRunID": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"pipelineRunStartTime": {
												"value": {
													"value": "@pipeline().TriggerTime",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"stageTableID": {
												"value": {
													"value": "@item().stageTableID",
													"type": "Expression"
												},
												"type": "Int32"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "PilotAzureSqlDatabase",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Stage Data",
									"type": "Copy",
									"dependsOn": [
										{
											"activity": "LogExecutionStart",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"source": {
											"type": "ParquetSource",
											"storeSettings": {
												"type": "AzureBlobStorageReadSettings",
												"recursive": true,
												"wildcardFileName": "*.parquet",
												"enablePartitionDiscovery": false
											}
										},
										"sink": {
											"type": "AzureSqlSink"
										},
										"enableStaging": false
									},
									"inputs": [
										{
											"referenceName": "StagedData",
											"type": "DatasetReference",
											"parameters": {
												"TableName": {
													"value": "@{replace(item().schemaName, ' ','')}_@{replace(item().tableName, ' ','')}",
													"type": "Expression"
												}
											}
										}
									],
									"outputs": [
										{
											"referenceName": "snkI2b2DataDID",
											"type": "DatasetReference",
											"parameters": {
												"TableName": {
													"value": "@{item().tableName}",
													"type": "Expression"
												}
											}
										}
									]
								},
								{
									"name": "SuccessSP",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Stage Data",
											"dependencyConditions": [
												"Succeeded"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[logExecutionEnd]",
										"storedProcedureParameters": {
											"pipelineRunEndTime": {
												"value": {
													"value": "@{utcnow()}",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"pipelineRunID": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"pipelineRunStatus": {
												"value": "Success",
												"type": "String"
											},
											"stageTableID": {
												"value": {
													"value": "@{item().stageTableID}",
													"type": "Expression"
												},
												"type": "Int32"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "PilotAzureSqlDatabase",
										"type": "LinkedServiceReference"
									}
								},
								{
									"name": "Failure SP",
									"type": "SqlServerStoredProcedure",
									"dependsOn": [
										{
											"activity": "Stage Data",
											"dependencyConditions": [
												"Failed"
											]
										}
									],
									"policy": {
										"timeout": "7.00:00:00",
										"retry": 0,
										"retryIntervalInSeconds": 30,
										"secureOutput": false,
										"secureInput": false
									},
									"userProperties": [],
									"typeProperties": {
										"storedProcedureName": "[[dbo].[logExecutionEnd]",
										"storedProcedureParameters": {
											"pipelineRunEndTime": {
												"value": {
													"value": "@{utcnow()}",
													"type": "Expression"
												},
												"type": "DateTime"
											},
											"pipelineRunID": {
												"value": {
													"value": "@pipeline().RunId",
													"type": "Expression"
												},
												"type": "String"
											},
											"pipelineRunStatus": {
												"value": "Failure",
												"type": "String"
											},
											"stageTableID": {
												"value": {
													"value": "@{item().stageTableID}",
													"type": "Expression"
												},
												"type": "Int32"
											}
										}
									},
									"linkedServiceName": {
										"referenceName": "PilotAzureSqlDatabase",
										"type": "LinkedServiceReference"
									}
								}
							]
						}
					}
				],
				"annotations": []
			},
			"dependsOn": [
				"[concat(variables('factoryId'), '/datasets/snkI2b2DataDID')]"
			]
		},
		{
			"name": "[concat(parameters('factoryName'), '/snkI2b2DataDID')]",
			"type": "Microsoft.DataFactory/factories/datasets",
			"apiVersion": "2018-06-01",
			"properties": {
				"linkedServiceName": {
					"referenceName": "I2B2DataDIDLink",
					"type": "LinkedServiceReference"
				},
				"parameters": {
					"TableName": {
						"type": "string"
					}
				},
				"annotations": [],
				"type": "AzureSqlTable",
				"schema": [],
				"typeProperties": {
					"schema": "I2B2DataDID",
					"table": {
						"value": "@dataset().TableName",
						"type": "Expression"
					}
				}
			},
			"dependsOn": []
		}
	]
}